
<p-confirmDialog></p-confirmDialog>

<!--<form #orderEdit="ngForm" >-->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {{'category'|translate}}
        </div>
        <div class="card-body">
          <form #saleForm="ngForm" class="form-horizontal ui-fluid">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="equipment-category">{{'equipment-category' | translate}}</label>
              <div class="col-md-9">
                <input id="equipment-category"  class="form-control" [(ngModel)]="dataModel.equipmentCategory"
                       name="equipmentCategory"  required/>
                <!--<span class="help-block">This is a help text</span>-->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="description">{{'equipment-category-description' | translate}}</label>
              <div class="col-md-9">
                <input type="text" id="description" name="description" [(ngModel)]="dataModel.equipmentCategorydescription"
                          class="form-control" placeholder="{{'description' | translate}}" required/>
                <!--<span class="help-block">This is a help text</span>-->
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i>
            {{'reset' | translate}}
          </button>
          <button type="submit" class="btn btn-sm btn-primary"
                  (click)="save()"><i class="fa fa-dot-circle-o"></i>
            {{'save' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
<!--</form>-->
