<!--<form #orderEdit="ngForm" >-->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4" *ngIf="data">
      <div class="card">
        <div class="card-header">
          {{'maintenance-strategy'|translate}}
        </div>
        <div class="card-body">
          <form #saleForm="ngForm" class="form-horizontal ui-fluid">
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td width="45%">{{'strategy-id'|translate}}</td>
                <td>{{data.maintenanceStrategyId}}
                </td>
              </tr>
              <!-- <tr>
                <td >{{'strategy-type'|translate}}</td>
                <td>{{data.strategyType}}
                </td>
              </tr> -->
              <tr>
                <td >{{'scheduling-indicator'|translate}}</td>
                <td>{{data.schedulingIndicator}}
                </td>
              </tr>
              <tr>
                  <td >{{'strategy-unit'|translate}}</td>
                  <td>{{data.strategyUnit}}
                  </td>
              </tr>
              <tr>
                    <td >{{'call-horizon'|translate}}</td>
                    <td>{{data.callHerizon}}
                    </td>
              </tr>
                <tr>
                      <td >{{'shift-factor-forLate-completion'|translate}} (%)</td>
                      <td>{{data.shiftFactorForEarlyCompletion}}
                      </td>
                </tr>
                <tr>
                      <td >{{'shift-factor-forearlycompletion'|translate}} (%)</td>
                      <td>{{data.shiftFactorForLateCompletion}}
                      </td>
                  </tr>
                <tr>
                      <td >{{'tolerance-factor-forearly-completion'|translate}} (%)</td>
                      <td>{{data.toleranceFactorForEarlyCompletion}}
                      </td>
                </tr>
                  <tr>
                        <td >{{'tolerance-factor-for-lateCompletion'|translate}} (%)</td>
                        <td>{{data.toleranceFactorForLateCompletion}}
                        </td>
                  </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
        <div class="card">
          <span class="card-header">Package Screen
          </span>
         <div class="card-body">
            <form action="" method="post" class="form-horizontal">
                <table class="table table-sm table-responsive-sm table-hover table-outline mb-0">
                    <thead class="table-secondary">
                    <tr>
                      <th>{{'package-number'|translate}}</th>
                      <th>{{'cycle-length'|translate}}</th>
                      <th>{{'unit'|translate}}</th>
                      <th>{{'maintenance-cycle-text'|translate}}</th>
                      <th>{{'hierarchy'|translate}}</th>
                      <th>{{'hierarchy-text'|translate}}</th>
                      <th>{{'offset'|translate}}</th>
                      <th>{{'offset-short-text'|translate}}</th>
                      <th></th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody *ngIf="data && data.maintenanceStrategyPackageList">
                      <tr *ngFor="let item of data.maintenanceStrategyPackageList;let i=index">
                        <td>{{item.packageNumber}}</td>
                        <td>{{item.cycleLenght}}</td>
                        <td>{{item.cycleUnit}}</td>
                        <td>{{item.maintenanceCycleText}}</td>
                        <td>{{item.hierarchy}}</td>
                        <td>{{item.hierarchyText}}</td>
                        <td>{{item.offset}}</td>
                        <td>{{item.offsetShortText}}</td>
                      </tr>
                    </tbody>
                  </table>
            </form>
         </div>
       </div>
    </div>
  </div><!--/.row-->
</div>
<!--</form>-->
