<table class="table table-bordered">
    <tr>
        <td width="30%">Emoloyee Name</td>
        <td>{{employeeName}}</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>{{capRequest?.skillMatrixCategory}}</td>
    </tr>
    <tr>
        <td>Capability</td>
        <td>{{capRequest?.skillMatrixName}}</td>
    </tr>
    <tr>
        <td>Proficiency</td>
        <td>{{capRequest?.proficiency}}</td>
    </tr>
    <tr>
        <td>Interest</td>
        <td>{{capRequest?.interest}}</td>
    </tr>

    <tr>
        <td>{{'cap-description'|translate}}</td>
        <td>{{capRequest?.note}}</td>
    </tr>
</table>
