<div class="animated fadeIn">
  
    <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>{{'sub-operation' | translate}} {{'details' | translate}}
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <tbody>

            <tr>
              <td width="30%"> {{'sub-operation-id' | translate}}</td>
              <td>{{operation.subOperationId}}</td>
            </tr>
            <tr>
              <td width="30%"> {{'sub-operation-name' | translate}}</td>
              <td>{{operation.subOperationName}}</td>
            </tr>
            <tr>
              <td> {{'operation-id' | translate}} </td>
              <td>{{operation.operationId}}</td>
            </tr>
            <tr>
              <td> {{'operation-name' | translate}} </td>
              <td>{{operation.operationName}}</td>
            </tr>
            
            <tr>
              <td>{{'top-skill-value' | translate}}</td>
              <td>{{operation.totalSkillValue}}</td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
  
</div>
