
.status-container{
  position: relative;
  //height: 300px;
}
.vl {
  border-left: 1px dashed #bababa;
  //height: 250px;
  position: absolute;
  opacity: 0.5;

}
.vl-bolder{
  border-left: 2px solid #6c808c !important;
}
.hour-span {
  //top: 250px;
  font-size: 12px;
}
.hour-bold{
  font-weight: 700;
  font-size: 13px;
}
.hl {
  border-bottom: 2px solid #666666;
  width: 900px;
  position: absolute;
  opacity: 0.5;
  //left: 100px;
  //top: 250px;

}

.legend-box{
  height: 15px;
  width: 20px!important;
  padding:0 9px;
  border-radius: 2px;
  opacity: 0.75;
  margin-right: 1px;
}

