<table class="table table-bordered">
    <tr>
        <td width="30%">{{'category-id'|translate}}</td>
        <td>{{skillcategDto.skillMatrixCategoryId}}</td>
    </tr>
    <tr>
        <td width="30%">{{'group-type'|translate}}</td>
        <td>{{skillcategDto.groupType}}</td>
    </tr>
    <tr>
        <td>{{'category-code'|translate}}</td>
        <td>{{skillcategDto.skillMatrixCategoryCode}}</td>
    </tr>
    <tr>
        <td>{{'category-description'|translate}}</td>
        <td>{{skillcategDto.skillMatrixCategoryDescription}}</td>
    </tr>
</table>
