<div>
  <div class="col-md-12 " *ngIf="!detailMode">
    <div class="row badge-light border border-bottom-0 m-minus-10 p-2">
      <div class="col-12 ">

        <button pButton class="ui-button-success float-right ml-1" (click)="modalShow(null,'NEW',null)"
          label="{{'add-new'|translate}}"></button>
      </div>
    </div>
  </div>
  <!-- [autoLayout]="true" -->
  <p-table #dt [columns]="cols" [value]="tableData" [rows]="10" [paginator]="tableData.length>10"
    [totalRecords]="tableData.length" dataKey="jobOrderStockId"  [autoLayout]="true">


    <ng-template pTemplate="header" let-columns>

      <tr>
        <!-- <th style="width: 3em;"></th> -->
        <th *ngFor="let col of columns let i=index" style="cursor: pointer" [ngSwitch]="col.header">
          <span *ngSwitchDefault> {{col.header|translate}}</span>
        </th>
        <th width="80px" rowspan="2" *ngIf="!detailMode">{{'action' | translate}}</th>
      </tr>


    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex"
    let-expanded="expanded">
      <tr [pSelectableRow]="rowData">
        <!-- <td style="width: 3em;">
          <a href="#" [pRowToggler]="rowData">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a>
        </td> -->
        <td *ngFor="let col of columns" [ngSwitch]="col.field">

          <a *ngSwitchCase="'palletSetting'" href="javascript:;" 
            (click)="showPalletDetails(rowData[col.field]?.palletSettingId)" >
            {{rowData[col.field]?.palletSettingId}}
          </a>
          <a *ngSwitchCase="'jobOrderOperation'" href="javascript:;" 
          (click)="showJobOrderOperationDetail(rowData[col.field]?.jobOrderOperationId)" >
            {{rowData[col.field]?.jobOrderOperationId}}
          </a>
          <a *ngSwitchCase="'stockNo'" href="javascript:;" 
          (click)="showStockDetail(rowData.stock?.stockId)" >
            {{rowData.stock?.stockNo}}
          </a>
          <a *ngSwitchCase="'stockName'" href="javascript:;" 
          (click)="showStockDetail(rowData.stock?.stockId)" >
            {{rowData.stock?.stockName}}
          </a>
          <span *ngSwitchCase="'createDate'">
            {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}
          </span>
          <span *ngSwitchDefault>{{rowData[col.field]}}</span>

        </td>
        <td width="80px" *ngIf="!detailMode">
          <button class="btn btn-sm btn-outline-danger" type="button"
            (click)="delete(rowData.jobOrderStockId,rowIndex)">
            <i class="fa fa-trash"></i></button>
          <button class="btn btn-sm btn-outline-info" type="button"
            (click)="modalShow(rowData.jobOrderStockId,'NEW',rowData)">
            <i class="fa fa-edit"></i></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <br />
  <div class="row">
      <app-paging [TotalElements]="pagination.totalElements" [CurrentPage]="pagination.currentPage"
        [PageSize]="pagination.pageSize" [rows]="pagination.rows"
        [showSearch]="false"
        [TotalPageLinkButtons]="pagination.TotalPageLinkButtons"
        [RowsPerPageOptions]="pagination.RowsPerPageOptions" (onPageChange)="myChanges($event)"></app-paging>
      <span style="margin-left:2px; padding-top: 2px " class="text-muted">{{'total-records'|translate}}:
        {{pagination?.totalElements}}</span>
  </div>
  <!--/.col-->
</div>
<ng-template [ngIf]="modal.active">
  <div bsModal [config]="{backdrop: 'static', keyboard: false, show: true}" #myModal="bs-modal"
    (onHidden)="modal.active=false" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> {{'component' | translate}}</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--step2-->
        <div class="modal-body">
          <!-- <ng-template [ngIf]="equipmentModal.modal=='NEW'">
            <job-order-operation-pallet-new [data]="equipmentModal.data"
              (saveAction)="addOrUpdate($event);myModal.hide();"></job-order-operation-pallet-new>
          </ng-template> -->
        </div>
        <!--step2-->
        <div class="modal-footer">
          <button type="button" style="background:lightslategray;" class="btn rounded btn-outline-secondary"
            (click)="myModal.hide()">{{'close' | translate}}
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ng-template>