.form-group {
    margin-bottom: 0px !important;
  }
  
  .element.style {
    margin-bottom: 0px !important;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .insp-table-first-row {
    margin-bottom: 10px;
  }
  
  
  .insp-table-first-row p-calendar {
    margin-right: 7px;
  }

  body .ui-table .ui-table-caption {
    height: 42px;
  }
  .ui-table-scrollable-header, 
  .ui-table-scrollable-footer {
    width: 100%;
  }