<div class="animated fadeIn">
  <div class="col-md-12">
    <div>
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> {{'inspection-specification-detail' | translate}}
          </div>
          <div class="card-body">
            <form #stockForm="ngForm">
              <table class="table table-striped table-outline">
                <tbody>
                <tr>
                  <td width="30%" class="text-bold">{{'inspection-plan' | translate}} <span style="width: 0 !important;" class="float-right">:</span> </td>
                  <td>{{inspectionSpecification?.inspectionPlan}}</td>
                </tr>
                <tr>
                  <td width="30%" class="text-bold">{{'group' | translate}} <span style="width: 0 !important;" class="float-right">:</span> </td>
                  <td>{{inspectionSpecification?.group}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'group-counter' | translate}}<span style="width: 0 !important;" class="float-right">:</span></td>
                  <td>{{inspectionSpecification?.groupCounter}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'usage' | translate}}<span style="width: 0 !important;" class="float-right">:</span></td>
                  <td>{{inspectionSpecification?.usage}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'sample-size' | translate}}<span style="width: 0 !important;" class="float-right">:</span></td>
                  <td>{{inspectionSpecification?.sampleSize}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'key-date' | translate}}<span style="width: 0 !important;" class="float-right">:</span></td>
                  <td>{{inspectionSpecification?.keyDate | date :'dd/MM/yyyy'}}</td>
                </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>

