<div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{'location-information' | translate}}
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody *ngIf="data">
                            <tr>
                                <td width="30%">{{'location-id' | translate}}</td>
                                <td>{{data?.locationId}} </td>
                            </tr>
                            <tr>
                                <td>{{'location-no' | translate}}</td>
                                <td>{{data?.locationNo}} </td>
                            </tr>
                            <tr>
                                <td>{{'location-name' | translate}}</td>
                                <td>{{data?.locationName}} </td>
                            </tr><tr>
                                <td>{{'location-type' | translate}}</td>
                                <td>{{data?.locationType}} </td>
                            </tr>
                            <tr>
                                <td>{{'location-description' | translate}}</td>
                                <td>{{data?.locationDescription}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>