
<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-body p-table-small">
          <div  class="col-md-12 " *ngIf="!detailMode">
            <div class="row badge-light border border-bottom-0 m-minus-10 p-2 justify-content-end">
             <div>
                <button pButton class="ui-button-success float-right ml-1" (click)="modalShow(null,'NEW',null)"
                        label="{{'add-new'|translate}}"></button>
            </div>
            </div>
          </div>
          <p-table #dt [columns]="cols" [value]="tableData" [rows]="10" [paginator]="tableData.length>10"
                   [totalRecords]="tableData.length"
                   dataKey="productTreeDetailOperationId" scrollable="true" scrollHeight="50vh">


            <ng-template pTemplate="header" let-columns>

              <tr>
                <th *ngFor="let col of columns let i=index" style="cursor: pointer">
                  {{col.header|translate}}
                </th>
                <th width="80px" rowspan="2" *ngIf="!detailMode">{{'action' | translate}}</th>
              </tr>


            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr>
                <td *ngFor="let col of columns" [ngSwitch]="col.field" >
                  <a *ngSwitchCase="'operation'" (click)="OpenOperationDetails(rowData[col.field])" href="javascript:;">{{rowData[col.field]?.operationName}}</a>
                  <a *ngSwitchCase="'productTreeDetailOperationId'" (click)="modalShow(rowData.productTreeDetailOperationId,'DETAIL',rowData)" href="javascript:;">{{rowData[col.field]}}</a>
                  <!-- <a *ngSwitchCase="'workStation'" (click)="OpenWorkstationDetails(rowData[col.field]?.workStationId)" href="javascript:;">{{rowData[col.field]?.workStationName}}</a> -->
                  <workstation-auto-complete *ngSwitchCase="'workStation'" 
                  [selectedWorkStation]="rowData.workStation"
                  [selectedWorkStationId]="rowData.workStationId"
                  [workStationList]="rowData.operation?.operationWorkStationList"
                  (selectedWorkStationEvent)="setSelectedWorkstation($event, rowData)"></workstation-auto-complete>
                  <span *ngSwitchCase="'singleDuration'" (click)="modalShow(rowData.productTreeDetailOperationId,'DETAIL',rowData)">{{getdurationTime(rowData[col.field])}}</span>
                  <span *ngSwitchCase="'operationOrder'">
                    <span *ngIf="detailMode">{{rowData[col.field]}}</span>
                    <input *ngIf="!detailMode" type="number" step="1" pattern="\d+"  class="form-control" name="operationOrder{{rowIndex}}" [(ngModel)]="rowData[col.field]"
                    (ngModelChange)="operationOrderChanged($event, rowIndex)" />
                  </span>
                  <span *ngSwitchCase="'neededPerson'">
                    <span *ngIf="detailMode">{{rowData[col.field]}}</span>
                    <input *ngIf="!detailMode" type="number" step="1" pattern="\d+"  class="form-control" 
                    name="neededPerson{{rowIndex}}" [(ngModel)]="rowData[col.field]"/>
                  </span>
                  <span *ngSwitchCase="'parent'" (click)="modalShow(rowData.productTreeDetailOperationId,'DETAIL',rowData)">{{rowData[col.field] ? 'Yes' : 'No'}}</span>
                  <span *ngSwitchDefault (click)="modalShow(rowData.productTreeDetailOperationId,'DETAIL',rowData)">{{rowData[col.field]}}</span>
                </td>
                <td width="80px" *ngIf="!detailMode">
                  <button class="btn btn-sm btn-outline-danger" type="button"
                          (click)="delete(rowData.productTreeDetailOperationId,rowIndex)">
                    <i class="fa fa-trash"></i></button>
                  <button class="btn btn-sm btn-outline-info" type="button"
                          (click)="modalShow(rowData.productTreeDetailOperationId,'NEW',rowData)">
                    <i class="fa fa-edit"></i></button>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <br/>
          <div>
            <span style="margin-left:2px; padding-top: 2px " class="text-muted">{{'total-records'|translate}}: {{tableData?.length}}</span>

          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

<ng-template [ngIf]="modal.active">
  <div bsModal [config]="{backdrop: 'static', keyboard: false, show: true}" #myModal="bs-modal" (onHidden)="modal.active=false" class="modal fade"
       tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-success modal-md " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> {{'operation' | translate}}</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--step2-->
        <div class="modal-body">
          <ng-template [ngIf]="equipmentModal.modal=='NEW'">
            <prod-tree-operation-new [openModalType]="modalType" [data]="equipmentModal.data" [productTreeDetailId]="productTreeDetailId"
                                    [parentPresent]="parentPresent"
                                    [isParent]="isParent"
                                    [fromOutSideProductTree]="false"
                                    [componentList]="componentList"
                                     (saveAction)="myModal.hide(); addOrUpdate($event)" (closeAction)="myModal.hide();"></prod-tree-operation-new>
          </ng-template>
          <ng-template [ngIf]="equipmentModal.modal=='DETAIL'">
            <prod-tree-operation-detail [data]="equipmentModal.data"></prod-tree-operation-detail>
          </ng-template>
        </div>
        <!--step2-->
        <div class="modal-footer">
          <button type="button" style="background:lightslategray;" class="btn rounded btn-outline-secondary"
                  (click)="myModal.hide()">{{'close' | translate}}
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ng-template>
