<div class="modal-body">
    <form #capform="ngForm">
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="countryId">{{'country'|translate}} {{'id'|translate}}</label>
          <div class="col-md-9">
            <input type="text" disabled="true" id="countryId" name="countryId" [(ngModel)]="cntReqDto.countryId" class="form-control"
              >
          </div>
        </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="countryName">{{'country'|translate}} {{'name'|translate}}</label>
        <div class="col-md-9">
          <input type="text" id="countryName" name="countryName" [(ngModel)]="cntReqDto.countryName" class="form-control"
            placeholder="{{'country-name'|translate}}" required>
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="countryShortName">{{'country-short-name'|translate}}</label>
        <div class="col-md-9">
          <input type="text" id="countryShortName" name="countryShortName" [(ngModel)]="cntReqDto.countryShortName" class="form-control"
            placeholder="{{'country-short-name'|translate}}" />
        </div>
      </div>
    </form>
    <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i>
      {{'reset' | translate}}</button>
    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!capform.form.valid" (click)="save()"><i
        class="fa fa-dot-circle-o"></i>
      {{'save' | translate}}
    </button>
  
  </div>