<!--<form #orderEdit="ngForm" >-->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12" *ngIf="dataModel">
      <div class="card">
        <div class="card-header">
          {{'workstation-program'|translate}}
        </div>
        <div class="card-body">
          <form #saleForm="ngForm" class="form-horizontal ui-fluid">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td width="35%">{{'workstation-program-id' | translate}}</td>
                  <td><span class="form-control bg-readonly">{{dataModel.workstationProgramId}}</span>
                  </td>
                </tr>
                <tr>
                  <td width="35%">{{'workstation' | translate}}</td>
                  <td>
                    <workstation-auto-complete [plantId]="plantId" (selectedWorkStationEvent)="setSelectedWorkStation($event)" [selectedWorkStationId]="dataModel.workStation?.workStationId"></workstation-auto-complete>
                  </td>
                </tr>
                <!-- <tr>
                  <td width="35%">{{'code' | translate}}</td>
                  <td><input id="code" class="form-control" [(ngModel)]="dataModel.code" name="code" required />
                  </td>
                </tr> -->
                <tr>
                  <td width="35%">{{'name' | translate}}</td>
                  <td><input id="description" class="form-control" [(ngModel)]="dataModel.description"
                      name="description"/>
                  </td>
                </tr>
                <tr>
                  <td width="35%">{{'plc-code' | translate}}</td>
                  <td><input id="plcCode" class="form-control" [(ngModel)]="dataModel.plcCode" name="plcCode"/>
                  </td>
                </tr>
                <tr>
                  <td width="35%">{{'plc-value' | translate}}</td>
                  <td><input id="plcValue" class="form-control" [(ngModel)]="dataModel.plcValue" name="plcValue"/>
                  </td>
                </tr>
                <tr>
                  <td width="35%">{{'unit' | translate}}</td>
                  <!-- <td><input id="unit" class="form-control" [(ngModel)]="dataModel.unit" name="unit" /></td> -->
                  <td>
                    <!-- <select name="unit" [(ngModel)]="dataModel.unit" class="form-control">
                      <option value="{{unitList.unit}}" *ngFor="let unitList of workStationUnitList">{{unitList.unit}}</option>
                    </select> -->
                    <unit-auto-complete (unitChangeEvent)="dataModel.unit=$event" [selectedUnit]="dataModel.unit"></unit-auto-complete>

                  </td>
                </tr>
              </tbody>

            </table>

          </form>
        </div>
        <div class="card-footer">
          <button type="reset" class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-ban"></i>
            {{'cancel' | translate}}
          </button>
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!saleForm.form.valid" (click)="save()"><i
              class="fa fa-dot-circle-o"></i>
            {{'save' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>
<!--</form>-->