<div class="card">
  <div class="col-lg-12">
    <div class="row ui-fluid  badge-light border p-2 ">
      <div class=" col-md-3">
        <workstation-auto-complete [plantId]="plantId"
          (selectedWorkStationEvent)="setSelectedWorkStation($event)"></workstation-auto-complete>
      </div>



      <div class="col-md-3 ">
        <p-calendar [showIcon]="true" dateFormat="dd.mm.yy"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="1990:2100"
                    [(ngModel)]="filterCon.startDate" placeholder="{{'display-term'|translate}}"></p-calendar>
      </div>

      <div class="col-md-auto">

        <button type="button" pButton class="ui-button-info   "
                [disabled]="!filterCon.workstationId || !filterCon.startDate"
                (click)="analyze()" label="{{'analyze' | translate}}">
        </button>

      </div>
    </div>
    <br>
    <!--legend area-->
    <div class="row d-flex justify-content-around ">
      <div class=""><span class="legend-box closed"></span> {{'Closed'|translate}}</div>
      <div class=""><span class="legend-box running"></span> {{'Running'|translate}}</div>
      <div class=""><span class="legend-box standby"></span> {{'StandBy'|translate}}</div>
      <div class=""><span class="legend-box machineSetup"></span> {{'Setup'|translate}}</div>
      <div class=""><span class="legend-box machineStop"></span> {{'Stopped'|translate}}</div>
    </div>
    <!--endof legend area-->
    <hr>
    <!--chart drawing begin-->
    <!--chart drawing begin-->
    <div class="row  status-container"
         (resized)="onResizeContainer($event)">
      <!--here we draw shiftArray.length vertical lines for hour 00:00 to 24:00-->
      <!--on left side we left leftVlOffset px, this leftVlOffset px will be used to draw days label-->

      <ng-container *ngFor="let item of shiftArray; let index=index;">
        <div class="vl vl-bolder" [ngStyle]="{'left':((chartWidth/(shiftArray.length-1))*index+leftVlOffset)+'px'}"
             [ngClass]="{'vl-bolder':(index%2)==0}"></div>

      </ng-container>
      <!--        <div class="vl vl-bolder" [ngStyle]="{'left':((chartWidth/6)*0+leftVlOffset)+'px'}"></div>-->
      <!--        <div class="vl" [ngStyle]="{'left':((chartWidth/6)*1+leftVlOffset)+'px'}"></div>-->

      <!--end of vertical lines-->

      <!--horizontal line begin-->
      <div class="hl" [ngStyle]="{'width':(chartWidth+2)+'px'}"></div>
      <!--horizontal line end-->

      <!--here we draw x axes horizontal label that defined in hourArray -->

      <ng-container *ngFor="let item of shiftArray; let index=index;">
        <span class="position-absolute hour-span hour-bold"
              [ngClass]="{'hour-bold':(index%2)==0}"
              [ngStyle]="{'left':((chartWidth/(shiftArray.length-1))*index+leftHourOffset)+'px'}"
        >{{item}}</span>
      </ng-container>
      <!--        <span class="position-absolute hour-span hour-bold" [ngStyle]="{'left':(leftHourOffset)+'px'}">06:00</span>-->
      <!--        <span class="position-absolute hour-span" [ngStyle]="{'left':((chartWidth/6)+leftHourOffset)+'px'}">10:00</span>-->
      <!--        <span class="position-absolute hour-span hour-bold" [ngStyle]="{'left':((chartWidth/6)*2+leftHourOffset)+'px'}">14:00</span>-->
      <!--        <span class="position-absolute hour-span" [ngStyle]="{'left':((chartWidth/6)*3+leftHourOffset)+'px'}">18:00</span>-->
      <!--        <span class="position-absolute hour-span hour-bold" [ngStyle]="{'left':((chartWidth/6)*4+leftHourOffset)+'px'}">22:00</span>-->
      <!--        <span class="position-absolute hour-span" [ngStyle]="{'left':((chartWidth/6)*5+leftHourOffset)+'px'}">02:00</span>-->
      <!--        <span class="position-absolute hour-span hour-bold" [ngStyle]="{'left':((chartWidth/6)*6+leftHourOffset)+'px'}">06:00</span>-->
      <!--end of x axes horizontal labels-->


      <ng-container *ngFor="let item of dateStatusArray; let index=index;">

        <span class="position-absolute"
              [ngStyle]="{'top':((index*barRowHeight)+(barMargin*2))+'px','left':leftVlOffset/3+'px'}">{{item.day|date:'dd.MM.yyyy'}}</span>
        <div class="position-absolute" [ngStyle]="{'top':((index*barRowHeight)+barMargin)+'px'}">

          <ng-container *ngFor="let aItem of item.statusArray">
            <span [style.height]="barHeight+'px'"
              [pTooltip]="showMachineToolTip(aItem)" [escape]="false"
                tooltipPosition="top"
                  [style.left]="((aItem.o*chartWidth)+leftVlOffset+1)+'px'"
                  [style.width]="(((chartWidth*aItem.ds) + ((aItem.o*chartWidth)+leftVlOffset+1)) > (chartWidth + leftVlOffset) ? ((chartWidth + leftVlOffset) - ((aItem.o*chartWidth)+leftVlOffset+1)):  chartWidth*aItem.ds)+'px'"
                  class="position-absolute span_opacity" [ngClass]="{
                   'span_standby': aItem.s=='StandBy',
                   'span_running': aItem.s=='Running',
                   'span_closed': aItem.s=='Closed',
                  'span_machine_stop': aItem.s=='Stopped',
                   'span_machine_setup': aItem.s=='Setup'}"></span>

          </ng-container>

        </div>
      </ng-container>

    </div>


  </div>


</div>
