<div class="animated fadeIn">
    <div class="col-md-12" (onChange)="handleChange($event)">
      <div class="card" *ngIf="inspectionOperation">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{'inspection-operation-details' | translate}}
        </div>
        <div class="card-body"> 
          <form #stockForm="ngForm">
            <table class="table table-striped table-outline">
              <tbody>
                <tr>
                  <td width="30%" class="text-bold">{{'inspection-operation-id' | translate}} <span style="width: 0 !important;" class="float-right">:</span> </td>
                  <td>{{inspectionOperation.inspectionOperationId}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'inspection-operation-code' | translate}} <span style="width: 0 !important;" class="float-right">:</span> </td>
                  <td>{{inspectionOperation.inspectionOperationCode}}</td>
                </tr>
                <tr>
                    <td class="text-bold">{{'inspection-operation-name' | translate}} <span style="width: 0 !important;" class="float-right">:</span> </td>
                    <td>{{inspectionOperation.inspectionOperationName}}</td>
                  </tr>
                <tr>
                  <td class="text-bold">{{'description' | translate}}<span style="width: 0 !important;" class="float-right">:</span></td>
                  <td>{{inspectionOperation.inspectionOperationText}}</td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  