<div class="row">
  <div class="col-md-12" id="app">
    <div class="row text-center noData" *ngIf="!showLoader&&resources.length<1">
      <strong class=""><i class="fa fa-warning "></i>{{'NO_DATA_FOUND'|translate}}!</strong>
    </div>
    <!-- <div class="row">
      <button type="button" class="btn btn-primary" 
      *ngIf="resources.length>0"
      data-toggle="tooltip" data-placement="top" title="Report" (click)="showAllcationByShiftGraph(null, 'workstation')"
      style="margin-left: 38.5em;"><i class="fa fa-line-chart"></i></button>
    </div> -->
    <scheduler *ngIf="!showLoader&&resources.length>0"
               #scheduler
               [rowHeight]=50
               [autoHeight]=false
               [viewPreset]="presetView"
               [barMargin]="barMargin"
               [createEventOnDblClick]="false"
               [events]="events"
               [resources]="resources"
               [enableDeleteKey]="false"
               [configtimeRanges]="timeRanges"
               [featuretimeRanges]="featuretimeRanges"
               [startDate]="startDate"
               [pdfExport]="pdfExport"
               [excelExporter]="excelExporter"
               [stripe]="true"
               [endDate]="endDate"
               [columns]="columns"
               [eventDragCreate]="false"
               [eventEdit]="true"
               [eventContextMenu]="false"
               [eventContextMenu]="eventContextMenu"
               [showAddEventInContextMenu]="false"
               [showRemoveRowInContextMenu]="false"
               eventStyle="border"
               [nonWorkingTime]="true"
               [eventResize]="false"
               [eventRenderer]="eventRenderer"
               [eventDrag]="eventDrag"
               (onSchedulerEventSelected)="onSchedulerEventSelected($event)"
               (onSchedulerEventDropped)="onSchedulerEventDropped($event)"
               (onSchedulerEventUpdated)="onSchedulerEventUpdated($event)"
               (onSchedulerEventDbClicked)="onSchedulerEventDbClicked($event)">

    </scheduler>
  </div>
</div>