<p-confirmDialog></p-confirmDialog>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-body" >
          <p-table #dt [columns]="selectedColumns" [value]="batchs" [rows]="pagination.rows" [totalRecords]="pagination.totalElements"
                   dataKey="batchId" [(selection)]="selectedBatchs" scrollable="true" scrollHeight="55vh" >

            <ng-template pTemplate="caption">
              <div style="text-align:left">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" maxSelectedLabels="0"  selectedItemsLabel="{{'columns-selected'|translate}}"
                               [style]="{minWidth: '200px'}" defaultLabel="Choose Columns">
                  <ng-template let-col let-i="index" pTemplate="item">
                    {{col.label|translate}}
                  </ng-template>
                </p-multiSelect>
              <button pButton type="button" style="margin-left: 5px; margin-top: 1px;" class="float-right" icon="fa fa-refresh" name="refresh" (click)="filter(pageFilter)"></button>
                <button pButton  type="button" class="ui-button-warning float-right ml-1" label="{{'reset'  |translate}}" (click)="resetFilter()"></button>
                <button pButton  class="ui-button-success float-right ml-1" (click)="modalShow(null,null,'NEW')" label="{{'add-new'|translate}}"> </button>
                <p-splitButton [style]="{'margin-right' : '5px'}"  label="{{'export-all'|translate}}" 
                  icon="fa fa-file-alt" [model]="menuItems" 
                  styleClass="ui-button-warning float-right">
                </p-splitButton>
                <p-splitButton [style]="{'margin-right' : '5px'}"  label="{{'export-selected'|translate}}" 
                  icon="fa fa-file" [model]="selecteMenuItems" 
                  styleClass="ui-button-warning float-right">
                </p-splitButton>
              </div>
              <!--<hr>-->

            </ng-template>
            <ng-template pTemplate="header" let-columns>

              <tr >
                <th style="width: 3em" rowspan="2">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <ng-template ngFor let-i="index" let-col [ngForOf]="columns">
                  <ng-container [ngSwitch]="col.header">
                    <th *ngSwitchCase="'customer'" style="cursor: pointer"
                      [ngClass]="{'bg-selected-order':(pageFilter.orderByProperty===col.field) && (selectedAct==='customer')}" (click)="reOrderData(i,col.field); selectedAct='customer';"><i [ngClass]="'fa fa-sort-alpha-' + classReOrder[i]"></i>
                      {{col.header|translate}}
                    </th>
                    <th *ngSwitchCase="'supplier'" style="cursor: pointer"
                      [ngClass]="{'bg-selected-order':(pageFilter.orderByProperty===col.field) && (selectedAct==='supplier')}" (click)="reOrderData(i,col.field); selectedAct='supplier';"><i [ngClass]="'fa fa-sort-alpha-' + classReOrder[i]"></i>
                      {{col.header|translate}}
                    </th>
                    <th *ngSwitchDefault style="cursor: pointer" [ngClass]="{'bg-selected-order':pageFilter.orderByProperty ==col.field}" (click)="reOrderData(i,col.field)"><i [ngClass]="'fa fa-sort-alpha-' + classReOrder[i]"></i>
                      {{col.header|translate}}
                    </th>
                  </ng-container>
                </ng-template>
                <th width="80px" rowspan="2">{{'action' | translate}}</th>
              </tr>
              <tr>

                <th *ngFor="let col of columns" class="ui-fluid" [ngSwitch]="col.field">
                  <p-calendar *ngSwitchCase="'manufactureDate'" [(ngModel)]="pageFilter.manufactureDate"
                  placeholder="{{'manufacture-date'|translate}}"
                    appendTo="body" yearRange="1990:2100" [monthNavigator]="true" [yearNavigator]="true" (ngModelChange)="filter(pageFilter)"
                    dateFormat="dd/mm/yy"
                   ></p-calendar>
                   <p-calendar *ngSwitchCase="'availableFrom'" [(ngModel)]="pageFilter.availableFrom"
                   placeholder="{{'available-from'|translate}}"
                     appendTo="body" yearRange="1990:2100" [monthNavigator]="true" [yearNavigator]="true" (ngModelChange)="filter(pageFilter)"
                     dateFormat="dd/mm/yy"
                    ></p-calendar>
                  <p-calendar *ngSwitchCase="'createDate'" [(ngModel)]="pageFilter.createDate"
                  placeholder="{{'create-date'|translate}}"
                    appendTo="body" yearRange="1990:2100" [monthNavigator]="true" [yearNavigator]="true" (ngModelChange)="filter(pageFilter)"
                    dateFormat="dd/mm/yy"
                    ></p-calendar>
                      <select *ngSwitchCase="'batchLevel'" id="batchLevel" name="batchLevel" class="form-control" [(ngModel)]="pageFilter.batchLevel" (ngModelChange)="filter(pageFilter)">
                        <option [ngValue]="null"> {{'please-select' | translate}}</option>
                        <option *ngFor="let batchLevel of listbatchLevel" value="{{batchLevel}}">{{batchLevel}}</option>
                      </select>
                    <p-calendar *ngSwitchCase="'lastGoodsReceipt'" [(ngModel)]="pageFilter.lastGoodsReceipt"
                    placeholder="{{'last-goods-receipt'|translate}}"
                      appendTo="body" yearRange="1990:2100" [monthNavigator]="true" [yearNavigator]="true" (ngModelChange)="filter(pageFilter)"
                      dateFormat="dd/mm/yy"
                      ></p-calendar>
                      <input  *ngSwitchCase="'plantName'" [(ngModel)]="pageFilter[col.field]"  disabled style="width: 100%"  pInputText type="text" (input)="filterByColumn($event.target.value,col.field)">
                  <input  *ngSwitchCase="'vendorName'" style="width: 100%"  pInputText type="text" (input)="filterByColumn($event.target.value,col.field)">
                  <input *ngSwitchDefault style="width: 100%"  pInputText type="text"[(ngModel)]="pageFilter[col.field]"  (input)="filterByColumn($event.target.value,col.field)">
                </th>



              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData">
                <td style="width: 3em">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns" [ngSwitch]="col.header" style="cursor: pointer">

                  <a href="javascript:;" *ngSwitchCase="'material-no'" (click)="showMaterialDetailDialog(rowData.stockId)" > {{rowData.stockNo}}</a>
                  <a href="javascript:;" *ngSwitchCase="'material'" (click)="showMaterialDetailDialog(rowData.stockId)" > {{rowData.stockName}}</a>

                  <a href="javascript:;" *ngSwitchCase="'plant'" (click)="showPlantDetailDialog(rowData.plantId)" > {{rowData.plantName}}</a>

                  <p *ngSwitchCase="'customer'">
                    <span *ngIf="rowData.actType && rowData.actType === 'CUSTOMER'">
                      <a href="javascript:;" (click)="showCustomerDetailDialog(rowData.vendorId)" > {{rowData[col.field]}}</a>
                    </span>
                  </p>

                  <p *ngSwitchCase="'supplier'">
                    <span *ngIf="!rowData.actType || rowData.actType === 'SUPPLIER'">
                      <a href="javascript:;" (click)="showCustomerDetailDialog(rowData.vendorId)" > {{rowData[col.field]}}</a>
                    </span>
                  </p>

                  <p *ngSwitchCase="'manufacture-date'" (click)="modalShow(rowData.batchId,rowData.batchCode,'DETAIL')">
                      {{(rowData[col.field] && rowData[col.field] !==0) ? (rowData[col.field] | date:'dd/MM/yyyy') : ''}}
                  </p>

                  <p *ngSwitchCase="'last-goods-receipt'" (click)="modalShow(rowData.batchId,rowData.batchCode,'DETAIL')">
                    {{(rowData[col.field] && rowData[col.field] !== 0) ? (rowData[col.field] | date:'dd/MM/yyyy') : ''}}
                  </p>

                  <p *ngSwitchCase="'create-date'" (click)="modalShow(rowData.batchId,rowData.batchCode,'DETAIL')">
                      {{(rowData[col.field] && rowData[col.field] !==0) ? (rowData[col.field] | date:'dd/MM/yyyy') : ''}}
                  </p>

                  <p *ngSwitchCase="'available-from'" (click)="modalShow(rowData.batchId,rowData.batchCode,'DETAIL')">
                      {{rowData[col.field] && rowData[col.field] !==0 ? (rowData[col.field] | date:'dd/MM/yyyy') : ''}}
                  </p>

                  <a href="javascript:;" *ngSwitchCase="'country-of-origin'" (click)="showCountryDialog(rowData.countryId)" > {{rowData.countryName}}</a>
                  <a href="javascript:;" *ngSwitchCase="'requested-by'" (click)="showEmployeeDialog(rowData.requestedBy)" > {{rowData.requestedBy ? rowData.requestedBy : ''}}</a>
                  <p *ngSwitchDefault (click)="modalShow(rowData.batchId,rowData.batchCode,'DETAIL')">{{rowData[col.field]}}</p>

                </td>
                <td width="80px" >
                  <button class="btn btn-sm btn-outline-danger" type="button" (click)="delete(rowData.batchId)">
                    <i class="fa fa-trash"></i></button>
                  <button class="btn btn-sm btn-outline-info" type="button" (click)="modalShow(rowData.batchId,rowData.batchCode,'EDIT')">
                    <i class="fa fa-edit"></i></button>
                </td>
              </tr>

            </ng-template>
          </p-table>

          <br/>
          <div class="row">
            <app-paging
              [showSearch]="false"
              [TotalElements]="pagination.totalElements"
              [CurrentPage]="pagination.currentPage"
              [PageSize]="pagination.pageSize"
              [rows]="pagination.rows"
              [TotalPageLinkButtons]="pagination.TotalPageLinkButtons"
              [RowsPerPageOptions]="pagination.RowsPerPageOptions"
              (onPageChange)="myChanges($event)"
            ></app-paging>
            <span style="margin-left:2px; padding-top: 2px " class="text-muted" >{{'total-records'|translate}}: {{pagination?.totalElements}}</span>

          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

<ng-template [ngIf]="modal.active">
  <div bsModal [config]="{backdrop: 'static', keyboard: false, show: true}" #myModal="bs-modal" (onHidden)="modal.active=false" class="modal fade"
       tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document" [ngClass]="{'modal-lg':batchModal.modal=='DETAIL','modal-md':batchModal.modal!='DETAIL'}">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> {{'batch-information' | translate}}</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-template [ngIf]="batchModal.modal=='NEW'">
            <batch-new [noBatchRecords]="noBatch" (saveAction)="myModal.hide(); filter(pageFilter)"></batch-new>
          </ng-template>
           <ng-template [ngIf]="batchModal.modal=='EDIT'">
             <batch-edit [id]="batchModal.id" (saveAction)="myModal.hide(); filter(pageFilter)"></batch-edit>
           </ng-template>
          <ng-template [ngIf]="batchModal.modal=='DETAIL'">
            <batch-detail [code]="batchModal.code"></batch-detail>
          </ng-template>
        </div>

        <div class="modal-footer">
          <button type="button" style="background:lightslategray;" class="btn rounded btn-outline-secondary" (click)="myModal.hide()">{{'close' | translate}}</button>
          <button *ngIf="batchModal.modal=='DETAIL'" type="button" class="btn rounded btn-primary" (click)="batchModal.modal='NEW'">{{'new' | translate}}</button>
          <button *ngIf="batchModal.modal=='DETAIL'" type="button" class="btn rounded btn-success"
                  (click)="modalShow(batchModal.id,batchModal.code,'EDIT')">{{'edit' | translate}}</button>


        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ng-template>
