<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>{{'exchange-rate-information' | translate}}
        </div>
        <div class="card-body">
          <form #workCenterForm="ngForm">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    {{'currency-record-id' | translate}}
                  </td>
                  <td>
                    {{payLoadObject.currencyRecordId}}
                  </td>
                </tr>
              <tr>
                <td>
                  {{'from-currency-code' | translate}}
                </td>
                <td>
                  <currency-auto-complete [selectedCurrency]="payLoadObject.fromCurrencyCode" (selectedCurrencyEvent)="payLoadObject.fromCurrencyCode=$event?.currencyCode" [addIfMissing]="false"></currency-auto-complete>
                </td>
              </tr>
              <tr>
                <td>
                  {{'to-currency-code' | translate}}
                </td>
                <td>
                  <currency-auto-complete [selectedCurrency]="payLoadObject.toCurrencyCode" (selectedCurrencyEvent)="payLoadObject.toCurrencyCode=$event?.currencyCode" [addIfMissing]="false"></currency-auto-complete>
                </td>
              </tr>
              <tr>
                <td>
                  {{'rate' | translate}}
                </td>
                <td>
                  <input type="number" class="form-control"  name="costCenterName" required
                  [(ngModel)]="payLoadObject.rate"/>
                </td>
              </tr>
              <tr>
                <td>
                  {{'valid-from' | translate}}
                </td>
                <td class="ui-fluid">
                  <p-calendar name="validFrom" [appendTo]="'body'" [baseZIndex]="99999" [showIcon]="true" [readonlyInput]="true" [dateFormat]="'dd-mm-yy'" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="'2000:2060'" [(ngModel)]="payLoadObject.validFrom"></p-calendar>
                </td>
              </tr>
              <tr>
                <td>
                  {{'valid-to' | translate}}
                </td>
                <td class="ui-fluid">
                  <p-calendar name="validTo" [appendTo]="'body'" [baseZIndex]="99999" [showIcon]="true" [readonlyInput]="true" [dateFormat]="'dd-mm-yy'" [monthNavigator]="true" [yearNavigator]="true" 
                  [yearRange]="'2000:2060'" [(ngModel)]="payLoadObject.validTo"></p-calendar>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i>
                    {{'reset' | translate}}
                  </button>
                  <button type="submit" class="btn btn-sm btn-primary" 
                  [disabled]="!workCenterForm.form.valid"
                          (click)="save()"><i class="fa fa-dot-circle-o"></i>
                    {{'save' | translate}}
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
