<p-confirmDialog></p-confirmDialog>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-body" >
          <p-table #dt [columns]="selectedColumns" [value]="measuringPoints" [rows]="pagination.rows" [totalRecords]="pagination.totalElements"
                   selectionMode="single" (onRowSelect)=onRowSelect($event)
                   dataKey="equipmentMeasuringPointId" [(selection)]="selectedMeasuringPoint"
                   (onRowSelect)="onRowSelect($event)" >

            <ng-template pTemplate="caption">
              <div style="text-align:left">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" maxSelectedLabels="0"  selectedItemsLabel="{{'columns-selected'|translate}}"
                               [style]="{minWidth: '200px'}" defaultLabel="Choose Columns">
                  <ng-template let-col let-i="index" pTemplate="item">
                    {{col.label|translate}}
                  </ng-template>
                </p-multiSelect>
                <button pButton  class="ui-button-success float-right" (click)="modalShow(null,'NEW')" label="{{'add-new'|translate}}"> </button>
                <button pButton style="margin-right: 5px" class="ui-button-warning float-right" type="button"  icon="fa fa-file-alt" iconPos="left" label="{{'export-all'|translate}}" (click)="dt.exportCSV()"></button>
                <button pButton style="margin-right: 5px" class="ui-button-warning float-right" type="button"  icon="fa fa-file" iconPos="left" label="{{'export-selected'|translate}}" (click)="dt.exportCSV({selectionOnly:true})"
                ></button>
              </div>
              <!--<hr>-->

            </ng-template>
            <ng-template pTemplate="header" let-columns>

              <tr >
                <th *ngFor="let col of columns let i=index" style="cursor: pointer" [ngClass]="{'bg-selected-order':pageFilter.orderByProperty ==col.field}" (click)="reOrderData(i,col.field)"><i [ngClass]="'fa fa-sort-alpha-' + classReOrder[i]"></i>
                  {{col.header|translate}}
                </th>
                <th width="120px" rowspan="2">{{'action' | translate}}</th>
              </tr>
              <tr>
                <th *ngFor="let col of columns" class="ui-fluid" [ngSwitch]="col.field">

                  <p-checkbox *ngSwitchCase="'measuringPointIsCounter'"  binary="true" (onChange)="filterByColumn($event,col.field)"
                              [(ngModel)]="pageFilter[col.field]">
                  </p-checkbox>

                  <p-checkbox *ngSwitchCase="'countBackwards'"  binary="true" (onChange)="filterByColumn($event,col.field)"
                              [(ngModel)]="pageFilter[col.field]"></p-checkbox>

                  <input *ngSwitchDefault style="width: 100%"  pInputText type="text" [(ngModel)]="pageFilter[col.field]" (input)="filterByColumn($event.target.value,col.field)">
                </th>

              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" style="cursor: pointer"  [ngSwitch]="col.field">
                  <span *ngSwitchDefault>  {{rowData[col.field]}}</span>
                  <ng-container  *ngSwitchCase="'measuringPointIsCounter'">
                    <p-checkbox name="counter" binary="true" [disabled]="true" [(ngModel)]="rowData.measuringPointIsCounter"></p-checkbox>
                  </ng-container>
                  <ng-container  *ngSwitchCase="'countBackwards'">
                    <p-checkbox name="counter" binary="true" [disabled]="true" [(ngModel)]="rowData.countBackwards"></p-checkbox>
                  </ng-container>
                  <span *ngSwitchCase="'maintenanceCharacteristic'">  {{rowData.maintenanceCharacteristic?.characteristic}}</span>
                  <span *ngSwitchCase="'characteristicUnit'">  {{rowData.maintenanceCharacteristic?.unitMeasure}}</span>
                  <span *ngSwitchCase="'codeGroup'">  {{rowData.equipmentCodeGroupHeader?.equipmentCodeGroup?.shortText}}</span>
                  <span *ngSwitchCase="'equipment'">  {{rowData.equipment?.equipmentName}}</span>
                  <span *ngSwitchCase="'equipmentCodeGroupHeader'">  {{rowData.equipmentCodeGroupHeader?.shortText}}</span>
                </td>
                <td width="120px" >
                  <button class="btn btn-sm btn-outline-info" type="button" (click)="modalShow(rowData.equipmentMeasuringPointId,'EDIT')">
                    <i class="fa fa-edit"></i></button>
                  <button class="btn btn-sm btn-outline-danger" type="button" (click)="delete(rowData.equipmentMeasuringPointId)">
                    <i class="fa fa-trash"></i></button>
                  <button class="btn btn-sm btn-outline-warning" type="button" (click)="modalShow(rowData.equipmentMeasuringPointId,'DETAIL')">
                    <i class="fa fa-eye"></i></button>
                </td>
              </tr>
            </ng-template>

          </p-table>
          <br/>

          <div class="row">
            <app-paging
              [TotalElements]="pagination.totalElements"
              [CurrentPage]="pagination.currentPage"
              [PageSize]="pagination.pageSize"            [rows]="pagination.rows"
              [TotalPageLinkButtons]="pagination.TotalPageLinkButtons"
              [RowsPerPageOptions]="pagination.RowsPerPageOptions"
              (onPageChange)="myChanges($event)"
            ></app-paging>
            <span style="margin-left:2px; padding-top: 2px " class="text-muted" >{{'total-records'|translate}}: {{pagination?.totalElements}}</span>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
<div bsModal [config]="{backdrop: 'static', keyboard: false}" #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-success modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{'measuring-point-information' | translate}}</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-template [ngIf]="measuringPointModal.modal=='NEW'">
          <new-measuring-point (saveAction)="myModal.hide(); filter(pageFilter)"></new-measuring-point>
        </ng-template>
        <ng-template [ngIf]="measuringPointModal.modal=='EDIT'">
          <measuring-point-edit [id]="measuringPointModal.id" (saveAction)="myModal.hide(); filter(pageFilter)"></measuring-point-edit>
        </ng-template>
        <ng-template [ngIf]="measuringPointModal.modal=='DETAIL'">
          <measuring-point-detail [id]="measuringPointModal.id" ></measuring-point-detail>
        </ng-template>


      </div>

      <div class="modal-footer">
        <button type="button" style="background:lightslategray;" class="btn rounded btn-outline-secondary" (click)="myModal.hide()">{{'close' | translate}}</button>
        <button *ngIf="measuringPointModal.modal=='DETAIL'" type="button" class="btn rounded btn-primary" (click)="measuringPointModal.modal='NEW'">{{'new' | translate}}</button>
        <button *ngIf="measuringPointModal.modal=='DETAIL'" type="button" class="btn rounded btn-success"
                (click)="measuringPointModal.modal='EDIT'">{{'edit' | translate}}</button>


      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
