<!--<form #orderEdit="ngForm" >-->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12" *ngIf="dataModel">
      <div class="card">
        <div class="card-header">
          {{'workstation-program'|translate}}
        </div>
        <div class="card-body">
          <form #saleForm="ngForm" class="form-horizontal ui-fluid">
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td width="35%">{{'workstation-program-id' | translate}}</td>
                <td><span class="form-control bg-readonly">{{dataModel.productTreeCriteriaId}}</span>
                </td>
              </tr>
              <tr>
                <td width="35%">{{'code' | translate}}</td>
                <td><input id="code" class="form-control" [(ngModel)]="dataModel.code"
                           name="code" required/>
                </td>
              </tr>
              <tr>
                <td width="35%">{{'description' | translate}}</td>
                <td><input id="description" class="form-control" [(ngModel)]="dataModel.description"
                           name="description" required/>
                </td>
              </tr>
              </tbody>

            </table>

          </form>
        </div>
        <div class="card-footer">
          <button type="reset" class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-ban"></i>
            {{'cancel' | translate}}
          </button>
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!saleForm.form.valid"
                  (click)="save()"><i class="fa fa-dot-circle-o"></i>
            {{'save' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
<!--</form>-->
