<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> {{'defect-locations' | translate}}
          </div>
          <div class="card-body">  
            <form #inspForm="ngForm">
              <table class="table table-bordered">
                <tr>
                    <td>{{'defect-location-id' | translate}}</td>
                    <td>
                      <input
                        type="text"
                        id="defectLocationId"
                        name="defectLocationId"
                        [(ngModel)]="defectLocationType.defectLocationId"
                        class="form-control"
                        disabled
                      />
                    </td>
                  </tr>
                <tr>
                  <td>{{'code' | translate}}</td> 
                  <td>
                    <input
                      type="text"
                      id="defectLocationCode"
                      name="defectLocationCode"
                      [(ngModel)]="defectLocationType.defectLocationCode"
                      class="form-control" disabled
                      required
                    />
                  </td>
                </tr>
                <tr>
                <tr>
                  <td>{{'defect-location' | translate}}</td>
                  <td>
                    <input
                      type="text" 
                      id="text"
                      name="text"
                      [(ngModel)]="defectLocationType.text"
                      class="form-control"
                      required
                    />
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
        <div class="row col-md-12">
            <button
            type="submit"
            class="btn btn-sm btn-danger"
            [disabled]="!inspForm.form.valid" 
            (click)="reset()"
          >
          <i class="fa fa-ban" aria-hidden="true"></i>
            {{ "reset" | translate }}
          </button>
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            [disabled]="!inspForm.form.valid"
            (click)="save()"
          >
            <i class="fa fa-dot-circle-o"></i>
            {{ "save" | translate }}
          </button>
          
        </div>
      </div>
    </div>
  </div>
  