<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>{{'workstation-category-information' | translate}}
          </div>
          <div class="card-body">
            <form #workstationcategory="ngForm">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <td>
                    {{'category-name' | translate}}
                  </td>
                  <td><input type="text" class="form-control"  
                    placeholder="{{'category-name' | translate}}"
                    name="catName" required [(ngModel)]="payLoadObject.wsCatName"/>
                  </td>
                </tr>
                <tr>
                    <td>
                      {{'category-code' | translate}}
                    </td>
                    <td><input type="text" class="form-control"
                      placeholder="{{'category-code' | translate}}"
                        name="catcode" [(ngModel)]="payLoadObject.wsCatCode"/>
                    </td>
                  </tr>
                <tr>
                  <td>{{'category-description' | translate}}</td>
                  <td>
                    <textarea class="form-control" name="catdesc" placeholder="{{'description' | translate}}"
                    [(ngModel)]="payLoadObject.wsCatDescription"
                    rows="3">
                  </textarea>
                </tr>
                <tr>
                  <td colspan="2">
                    <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i>
                      {{'reset' | translate}}
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!workstationcategory.form.valid"
                            (click)="save()"><i class="fa fa-dot-circle-o"></i>
                      {{'save' | translate}}
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  