<div class="animated fadeIn">
  <div class="row col-md-12 p-0">
    <p-tabView class="col-md-12">
      <p-tabPanel header="{{'plant-information'| translate }}">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>{{'plant-information' | translate}}
          </div>
          <div class="card-body">
            <form #workCenterForm="ngForm">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td width="35%">
                      {{'plant-name' | translate}}
                    </td>
                    <td><input type="text" autocomplete="plantNameAuto" class="form-control" name="plantName" required
                        [(ngModel)]="plant.plantName" />
                    </td>
                  </tr>
                  <tr>
                    <td>{{'plant-code' | translate}}</td>
                    <td>
                      <input type="text" required class="form-control" name="plantCode" [(ngModel)]="plant.plantCode" />
                    </td>
                  </tr>
                  <tr>
                    <td>{{'company' | translate}}*</td>
                    <td>
                      <div class="input-group">
                        <select id="company" required name="company" class="form-control" [(ngModel)]="plant.companyId"
                          (ngModelChange)="onCompanySelected($event)">
                          <option [ngValue]="null"> {{'please-select' | translate}}</option>
                          <option *ngFor="let company of companyList" value="{{company.companyId}}">
                            {{company.companyName}}</option>
                        </select>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>{{'plant-location-is-same-as-customer' | translate}}</td>
                    <td>
                      <p-checkbox name="sameascompany" binary="true" [(ngModel)]="sameascompany"></p-checkbox>
                    </td>

                  </tr>
                  <tr *ngIf="!sameascompany">
                    <td>{{'address' | translate}}</td>
                    <td><textarea type="text" class="form-control" name="companyaddress"
                        [(ngModel)]="plant.address"></textarea></td>
                  </tr>
                  <tr *ngIf="!sameascompany">
                    <td>{{'country' | translate }}</td>
                    <td>
                      <select id="countryId" name="countryId" class="form-control" (change)="countrySelection($event)"
                        [(ngModel)]="plant.countryId">
                        <option [ngValue]="null"> {{'please-select' | translate}}</option>
                        <option value="{{country.countryId}}" *ngFor="let country of countries">{{country.countryName}}
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr *ngIf="!sameascompany">
                    <td>{{'city' | translate }}</td>
                    <td>
                      <select id="cityId" name="cityId" class="form-control" [(ngModel)]="plant.cityId"
                        [disabled]="cityDisabled">
                        <option [ngValue]="null"> {{'please-select' | translate}}</option>
                        <option value="{{city.cityId}}" *ngFor="let city of cities">{{city.cityName}}</option>
                      </select>
                    </td>

                  </tr>

                  <tr *ngIf="!sameascompany">
                    <td>{{'plant-post-code' | translate}}</td>
                    <td>
                      <input type="text" class="form-control" name="postcode" [(ngModel)]="plant.postcode" />
                    </td>
                  </tr>

                  <tr *ngIf="!sameascompany">
                    <td>{{'company-address' | translate}}</td>
                    <td><textarea type="text" class="form-control" name="address"
                        [(ngModel)]="plant.companyAddress"></textarea></td>
                  </tr>




                </tbody>
              </table>
            </form>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="{{'template-information'| translate }}">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>{{'template-information' | translate}}
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td width="35%">
                    {{'prod-order-code-templete' | translate}}
                  </td>
                  <td><input type="text" rows="5" class="form-control" name="prodOrderCodeTemplete"
                      [(ngModel)]="plant.prodOrderCodeTemplete">
                  </td>
                </tr>
                <tr>
                  <td>
                    {{'goods-movement-cod-templete' | translate}}
                  </td>
                  <td><input type="text" rows="5" class="form-control" name="goodsMovementCodTemplete"
                      [(ngModel)]="plant.goodsMovementCodTemplete">
                  </td>
                </tr>
                <tr>
                  <td>{{'purchase-order-code-template' | translate}}</td>
                  <td>
                    <input type="text" rows="5" class="form-control" name="purchaseOrderCodeTemplete"
                      [(ngModel)]="plant.purchaseOrderCodeTemplete">
                  </td>
                </tr>
                <tr>
                  <td>{{'purchase-quotation-code-template' | translate}}</td>
                  <td>
                    <input type="text" rows="5" class="form-control" name="purchaseQuotationCodeTemplete"
                      [(ngModel)]="plant.purchaseQuotationCodeTemplete">
                  </td>
                </tr>

                <tr>
                  <td>{{'sales-order-code-template' | translate}}</td>
                  <td>
                    <input type="text" class="form-control" name="salesOrderCodeTemplete"
                      [(ngModel)]="plant.salesOrderCodeTemplete">
                  </td>
                </tr>
                <tr>
                  <td>{{'sales-order-ref-code-template' | translate}}</td>
                  <td>
                    <input type="text" class="form-control" name="salesOrderRefCodeTemplete"
                      [(ngModel)]="plant.salesOrderRefCodeTemplete">
                  </td>
                </tr>

                <tr>
                  <td>{{'sales-quotation-code-template' | translate}}</td>
                  <td>
                    <input type="text" class="form-control" name="salesQuotationCodeTemplete"
                      [(ngModel)]="plant.salesQuotationCodeTemplete">
                  </td>
                </tr>
                <tr>
                  <td>{{'factory-calender-code-template' | translate}}</td>
                  <td>
                    <input type="text" class="form-control" name="factoryCalenderCode"
                      [(ngModel)]="plant.factoryCalenderCode">
                  </td>
                </tr>
                <tr>
                  <td>{{'integration-url' | translate}}</td>
                  <td>
                    <input type="text" class="form-control" name="integrationUrl" [(ngModel)]="plant.integrationUrl">
                  </td>
                </tr>
                <tr>
                  <td>{{'lang-code' | translate}}</td>
                  <td>
                    <input type="text" class="form-control" name="langCode" [(ngModel)]="plant.langCode">
                  </td>
                </tr>
                <tr>
                  <td>{{ "currency" | translate }}</td>
                  <td>
                    <currency-auto-complete (selectedCurrencyEvent)="plant.currency=$event?.currencyCode;">
                    </currency-auto-complete>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="{{'schedule-information'| translate }}">
        <div class="row col-md-12 m-0 p-0">
          <div class="col-md-6 p-0 pr-3">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i>{{'planning' | translate}}
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="60%">{{'combine-production-order-auto' | translate}}</td>
                      <td>
                        <p-checkbox name="combineProductionOrderAuto" binary="true"
                          [(ngModel)]="plant.combineProductionOrderAuto"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'create-auto-prod-orders' | translate}}</td>
                      <td>
                        <p-checkbox name="createAutoProdOrders" binary="true" [(ngModel)]="plant.createAutoProdOrders">
                        </p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'reorder-day-range' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="reorderDayRange"
                          [(ngModel)]="plant.reorderDayRange" />
                      </td>
                    </tr>
                    <tr>
                      <td>{{'reorder-range-week' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="reorderRangeWeek"
                          [(ngModel)]="plant.reorderRangeWeek" />
                      </td>
                    </tr>
                    <tr>
                      <td>{{'demand-planning' | translate}}</td>
                      <td>
                        <p-checkbox name="demandPlanning" binary="true" [(ngModel)]="plant.demandPlanning"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'shift-target-quantity' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="shiftTargetQuantity"
                          [(ngModel)]="plant.shiftTargetQuantity" />
                      </td>
                    </tr>
                    <tr>
                      <td>{{'sales-forecast-duration-day' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="salesForecastDurationDay"
                          [(ngModel)]="plant.salesForecastDurationDay" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i>{{'setup' | translate}}
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="60%">{{'schedule_same_equipment_short_setup_duration_min' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="scheduleSameEquipmentShortSetupDurationMin"
                          [(ngModel)]="plant.scheduleSameEquipmentShortSetupDurationMin" />
                      </td>
                    </tr>
                    <tr>
                      <td>{{'schedule_same_equipment_setup_duration' | translate}}</td>
                      <td>
                        <p-checkbox name="scheduleSameEquipmentSetupDurationCheck" binary="true"
                          [(ngModel)]="plant.scheduleSameEquipmentSetupDurationCheck"></p-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i>{{'parametric-criterias' | translate}}
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="60%">{{'prod-order-start-before-day' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="prodOrderStartBeforeDay"
                          [(ngModel)]="plant.prodOrderStartBeforeDay" />
                      </td>
                    </tr>
                    <tr>
                      <td width="60%">{{'processing-jobs-max-latency-day' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="processingJobsMaxLatencyDay"
                          [(ngModel)]="plant.processingJobsMaxLatencyDay" />
                      </td>
                    </tr>
                    <tr>
                      <td width="60%">{{'planned-jobs-max-latency-day' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="plannedJobsMaxLatencyDay"
                          [(ngModel)]="plant.plannedJobsMaxLatencyDay" />
                      </td>
                    </tr>
                    <tr>
                      <td>{{'wait-semi-product-percentage' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="waitSemiProductPercentage"
                          [(ngModel)]="plant.waitSemiProductPercentage" />
                      </td>

                    </tr>
                    <tr>
                      <td>{{'schedule-allocation-limit-day' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="scheduleAllocationLimitDay"
                          [(ngModel)]="plant.scheduleAllocationLimitDay" />
                      </td>
                    </tr>
                    <tr>
                      <td>{{'schedule_order_no_max_iteration_count' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="scheduleOrderNoMaxIterationCount"
                          [(ngModel)]="plant.scheduleOrderNoMaxIterationCount" />
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-0">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i>{{'reservation' | translate}}
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="60%">
                        {{'check-avaiable-stock-for-requested-reservation' | translate}}</td>
                      <td>
                        <p-checkbox name="checkAvaiableStockForRequestedReservation" binary="true"
                          [(ngModel)]="plant.checkAvaiableStockForRequestedReservation"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'get-waiting-for-material-reservation-by-job-order' | translate}}</td>
                      <td>
                        <p-checkbox name="getWaitingForMaterialReservationByJobOrder" binary="true"
                          [(ngModel)]="plant.getWaitingForMaterialReservationByJobOrder"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'deliver-manual-purchase-order' | translate}}</td>
                      <td>
                        <p-checkbox name="deliverManualPurchaseOrder" binary="true"
                          [(ngModel)]="plant.deliverManualPurchaseOrder"></p-checkbox>
                      </td>

                    </tr>
                    <tr>
                      <td>{{'auto-purchase-period-days' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="autoPurchasePeriodDays"
                          [(ngModel)]="plant.autoPurchasePeriodDays" />
                      </td>
                    </tr>
                    <tr>
                      <td>{{'recheck-job-order-stock-has-un-reristricted-quantity' | translate}}</td>
                      <td>
                        <p-checkbox name="recheckJobOrderStockHasUnReristrictedQuantity" binary="true"
                          [(ngModel)]="plant.recheckJobOrderStockHasUnReristrictedQuantity"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'release-all-stock-from-reservation' | translate}}</td>
                      <td>
                        <p-checkbox name="releaseAllStockFromReservation" binary="true"
                          [(ngModel)]="plant.releaseAllStockFromReservation"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'release-all-stock-from-reservation-after-auto-schedule' | translate}}</td>
                      <td>
                        <p-checkbox name="releaseAllStockFromReservationAfterAutoSchedule" binary="true"
                          [(ngModel)]="plant.releaseAllStockFromReservationAfterAutoSchedule"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'load-job-force-stock-reservation-change' | translate}}</td>
                      <td>
                        <p-checkbox name="loadJobForceStockReservationChange" binary="true"
                          [(ngModel)]="plant.loadJobForceStockReservationChange"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'schedule-release-reservation-limit-day' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="scheduleReleaseReservationLimitDay"
                          [(ngModel)]="plant.scheduleReleaseReservationLimitDay" />
                      </td>
                    </tr>
                    <tr>
                      <td>{{'request-reservation-delay-day' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="requestReservationDelayDay"
                          [(ngModel)]="plant.requestReservationDelayDay" />
                      </td>

                    </tr>
                    <tr>
                      <td>{{'alert-late-purchase-order' | translate}}</td>
                      <td>
                        <p-checkbox name="alertLatePurchaseOrder" binary="true"
                          [(ngModel)]="plant.alertLatePurchaseOrder"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'alert-semifinish-late-work-order' | translate}}</td>
                      <td>
                        <p-checkbox name="alertSemifinishLateWorkOrder" binary="true"
                          [(ngModel)]="plant.alertSemifinishLateWorkOrder"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'schedule-pallet-box' | translate}}</td>
                      <td>
                        <p-checkbox name="schedulePalletBox" binary="true" [(ngModel)]="plant.schedulePalletBox">
                        </p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'min-pallet-usage-for-planning-job' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="minPalletUsageForPlanningJob"
                          [(ngModel)]="plant.minPalletUsageForPlanningJob" />
                      </td>
                    </tr>
                    <tr>
                      <td>{{'schedule-confirmed-purchase-delay-day' | translate}}</td>
                      <td>
                        <input type="number" class="form-control" name="scheduleConfirmedPurchaseDelayDay"
                          [(ngModel)]="plant.scheduleConfirmedPurchaseDelayDay" />
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i>{{'actual-case-scheduling' | translate}}
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="60%">{{'schedule_actual_case_wait_purchase' | translate}}</td>
                      <td>
                        <p-checkbox name="scheduleActualCaseWaitPurchase" binary="true"
                          [(ngModel)]="plant.scheduleActualCaseWaitPurchase"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'schedule_actual_case_wait_semi_product' | translate}}</td>
                      <td>
                        <p-checkbox name="scheduleActualCaseWaitSemiProduct" binary="true"
                          [(ngModel)]="plant.scheduleActualCaseWaitSemiProduct"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'schedule_actual_case_wait_request_reservation' | translate}}</td>
                      <td>
                        <p-checkbox name="scheduleActualCaseWaitRequestReservation" binary="true"
                          [(ngModel)]="plant.scheduleActualCaseWaitRequestReservation"></p-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'schedule_actual_case_wait_equipment' | translate}}</td>
                      <td>
                        <p-checkbox name="scheduleActualCaseWaitEquipment" binary="true"
                          [(ngModel)]="plant.scheduleActualCaseWaitEquipment"></p-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="{{'general-settings'| translate }}">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>{{'general-settings' | translate}}
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td width="35%">{{'panel-master' | translate}}</td>
                  <td>
                    <p-checkbox name="panelMaster" binary="true" [(ngModel)]="plant.panelMaster"></p-checkbox>
                  </td>
                </tr>
                <tr>
                  <td width="35%">{{'auto-pallet-confirm' | translate}}</td>
                  <td>
                    <p-checkbox name="autoPalletConfirm" binary="true" [(ngModel)]="plant.autoPalletConfirm">
                    </p-checkbox>
                  </td>
                </tr>
                <tr>
                  <td width="35%">{{'check-previous-job-order-completed' | translate}}</td>
                  <td>
                    <p-checkbox name="checkPreviousJobOrderCompleted" binary="true"
                      [(ngModel)]="plant.checkPreviousJobOrderCompleted"></p-checkbox>
                  </td>
                </tr>
                <tr>

                  <td width="35%">{{'auto-erp-workorder-confirmation' | translate}}</td>
                  <td>
                    <p-checkbox name="autoErpWorkorderConfirmation" binary="true"
                      [(ngModel)]="plant.autoErpWorkorderConfirmation"></p-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>{{'erp-support' | translate}}</td>
                  <td>
                    <p-checkbox name="erpSupport" binary="true" [(ngModel)]="plant.erpSupport"></p-checkbox>
                  </td>
                </tr>

                <tr>
                  <td>{{'update-workstation-based-on-erp' | translate}}</td>
                  <td>
                    <p-checkbox name="updateWsBaseOnOnlyErp" binary="true" [(ngModel)]="plant.updateWsBaseOnOnlyErp">
                    </p-checkbox>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>{{'material-handling' | translate}}
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td width="35%">{{'confirm-onsite-transfer-auto' | translate}}</td>
                  <td>
                    <p-checkbox name="confirmOnsiteTransferAuto" binary="true"
                      [(ngModel)]="plant.confirmOnsiteTransferAuto"></p-checkbox>
                  </td>
                </tr>
                <tr>
                  <td width="35%">{{'skip-onsite-transfer' | translate}}</td>
                  <td>
                    <p-checkbox name="skipOsiteTransfer" binary="true" [(ngModel)]="plant.skipOsiteTransfer">
                    </p-checkbox>
                  </td>
                </tr>
                <tr>

                  <td width="35%">{{'create-auto-pallet-for-end-job' | translate}}</td>
                  <td>
                    <p-checkbox name="createAutoPalletForEndJob" binary="true"
                      [(ngModel)]="plant.createAutoPalletForEndJob"></p-checkbox>
                  </td>
                </tr>
                <tr>
                  <td width="35%">{{'create-auto-stock-transfer-notification' | translate}}</td>
                  <td>
                    <p-checkbox name="createAutoStockTransferNotification" binary="true"
                      [(ngModel)]="plant.createAutoStockTransferNotification"></p-checkbox>
                  </td>

                </tr>
                <tr>

                  <td>{{'move-stock-after-completed-operation' | translate}}</td>
                  <td>
                    <p-checkbox name="moveStockAfterCompletedOperation" binary="true"
                      [(ngModel)]="plant.moveStockAfterCompletedOperation"></p-checkbox>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
    <div class="col-md-12">
      <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i>
        {{'reset' | translate}}
      </button>
      <button type="submit" class="btn btn-sm btn-primary" [disabled]="!workCenterForm.form.valid" (click)="save()"><i
          class="fa fa-dot-circle-o"></i>
        {{'save' | translate}}
      </button>
    </div>
  </div>
</div>