<!--<form #orderEdit="ngForm" >-->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {{'component-feature'|translate}}
        </div>
        <div class="card-body">
          <form #saleForm="ngForm" class="form-horizontal ui-fluid">
            <table class="table table-bordered">
              <tbody>


              <tr>
                <td width="35%">{{'criteria' | translate}}</td>
                <td>
                  <product-tree-criteria-auto-complete [addIfMissing]="true"
                                                       (selectedProductTreeCriteriaEvent)="setSelectedCriteria($event)"
                                                       [required]="true"
                                                       [selectedProductTreeCriteria]="dataModel.productTreeCriteria"
                  ></product-tree-criteria-auto-complete>
                </td>
              </tr>
              <tr>
                <td width="35%">{{'criteria-min-value' | translate}}</td>
                <td><input type="number" min="0" class="form-control" [(ngModel)]="dataModel.criteriaMinValue"
                           name="criteriaMinValue" required/>
                </td>
              </tr>
              <tr>
                <td>{{'criteria-max-value' | translate}}</td>
                <td><input type="number" min="0" class="form-control" [(ngModel)]="dataModel.criteriaMaxValue"
                           name="criteriaMaxValue" required/>
                </td>
              </tr>
              <tr>
                <td>{{'criteria-unit' | translate}}</td>
                <td>
                  <unit-auto-complete [required]="true" [addIfMissing]="true" [selectedUnit]="dataModel.criteriaUnit"
                                      (unitChangeEvent)="dataModel.criteriaUnit=$event"></unit-auto-complete>
                </td>
              </tr>
              </tbody>
            </table>

          </form>
        </div>
        <div class="card-footer">
          <!--<button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i>-->
          <!--{{'reset' | translate}}-->
          <!--</button>-->
          <button type="submit" class="btn btn-sm btn-primary"  [disabled]="!saleForm.form.valid"
                  (click)="save()"><i class="fa fa-dot-circle-o"></i>
            {{'save' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
<!--</form>-->
