<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> {{'task-information' | translate}}
          </div>
          <div class="card-body">
            <form #inspForm="ngForm">
              <table class="table table-bordered">
                <tr>
                  <td>{{'code' | translate}}</td>
                  <td>
                    <input
                      type="text"
                      id="taqualityTaskTypeCodeskCode"
                      name="qualityTaskTypeCode"
                      [(ngModel)]="qualitTask.qualityTaskTypeCode"
                      class="form-control"
                      required
                    />
                  </td>
                </tr>
                <tr>
                <tr>
                  <td>{{'task-name' | translate}}</td>
                  <td>
                    <input
                      type="text" 
                      id="qualityTaskTypeName"
                      name="qualityTaskTypeName"
                      [(ngModel)]="qualitTask.qualityTaskTypeName"
                      class="form-control"
                      required
                    />
                  </td>
                </tr>
                <tr>
                  <td>{{'short-text' | translate}}</td>
                  <td>
                    <input
                      type="text" 
                      id="qualityTaskTypeDescription"
                      name="qualityTaskTypeDescription"
                      [(ngModel)]="qualitTask.qualityTaskTypeDescription"
                      class="form-control"
                    />
                  </td>
                </tr>
                <!-- <tr>
                  <td>{{'quality-code-group' | translate}}</td>
                  <td>
                    <quality-code-group-auto-complete (selectedCodeGroupEvent)="qualitTask.codeGroupId=$event.codeGroupId" [addIfMissing]="true"></quality-code-group-auto-complete>
                  </td>
                </tr>
                <tr>
                  <td>{{'quality-defect-recording' | translate}}</td>
                  <td>
                    <select id="qualityDefectRecording" name="qualityDefectRecording" class="form-control" [(ngModel)]="qualitTask.defectRecordingId" required>
                      <option [ngValue]="null"> {{'please-select' | translate}}</option>
                      <option value="{{usage.defectRecordingId}}" *ngFor="let usage of defectRecordList">{{usage.defectRecordingCode}}
                      </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>{{'quality-notification' | translate}}</td>
                  <td>
                    <quality-notification-auto-complete [addIfMissing]="true" (selectedNotificationEvent)="qualitTask.qualityNotificationId=$event.qualityNotificationId"></quality-notification-auto-complete>
                  </td>
                </tr> -->
              </table>
            </form>
          </div>
        </div>
        <div class="row col-md-12">
            <button
            type="submit"
            class="btn btn-sm btn-danger"
            (click)="reset()"
          >
          <i class="fa fa-ban" aria-hidden="true"></i>
            {{ "reset" | translate }}
          </button>
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            [disabled]="!inspForm.form.valid"
            (click)="save()"
          >
            <i class="fa fa-dot-circle-o"></i>
            {{ "save" | translate }}
          </button>
          
        </div>
      </div>
    </div>
  </div>
  