
<div class="animated fadeIn" >
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {{'abc-indicator' | translate}}
        </div>
        <div class="card-body" >
          <div class="form-group row">
            <label class="col-md-3 col-form-label" >{{'abc-indicator-id' | translate}}</label>
            <div class="col-md-3 col-form-label">
              {{veriler?.equipmentAbcIndicatorId}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" >{{'equipment-abc-indicator-type' | translate}}</label>
            <div class="col-md-3 col-form-label">
              {{veriler?.equipmentAbcIndicatorType}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">{{'abc-indicator-description' | translate}}</label>
            <div class="col-md-3 col-form-label">
              {{veriler?.equipmentAbcIndicatorDescription}}
            </div>
          </div>
          <table class="table table-sm table-bordered" *ngIf="veriler?.equipmentlist">
            <thead>
            <th>{{'equipment-name' | translate}}</th>
            <th>{{'equipment-no' | translate}}</th>
            <th>{{'equipment-type-name' | translate}}</th>
            </thead>
            <tbody >
            <tr *ngFor="let veri of veriler?.equipmentlist">
              <td>{{veri.equipmentName}}</td>
              <td>{{veri.equipmentNo}}</td>
              <td>{{veri.equipmentTypeName }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
