<p-confirmDialog key="lisNotification" [baseZIndex]="9999999"></p-confirmDialog>

<div class="animated fadeIn">


  <div class="row">
    <div class="col-lg-12">
      <div class="card">


        <div class="card-body ">
          <div class="d-flex">
            <div class="d-flex col-md-12 badge-light border border-bottom-0 m-minus-10 p-2" *ngIf="!documentType">
              <div class="col-md-2 px-1 ui-fluid">
                <p-calendar [(ngModel)]="pageFilter.startDate" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="1990:2100" [showIcon]="true" dateFormat="dd/mm/yy" (ngModelChange)="filter(pageFilter)"
                  placeholder="{{'start-date'|translate}}"></p-calendar>
              </div>
              <div class="col-md-2 px-1 ui-fluid">
                <p-calendar [(ngModel)]="pageFilter.endDate" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="1990:2100" placeholder="{{'end-date'|translate}}" (ngModelChange)="filter(pageFilter)"
                  [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
              </div>
              <div class="col-md-auto">
                <button type="button" pButton class="ui-button-secondary ml-1" (click)="ClearDates()" label="{{'clear-dates' | translate}}">
                </button>
              </div>
              <div class="col">
                <button pButton type="button" class="float-right" icon="fa fa-refresh" name="refresh" (click)="filter(pageFilter);"></button>
              </div>
            </div>
            <!--<hr>-->
          </div>
          <p-table #dt [columns]="selectedColumns" [value]="transfers" [rows]="pagination.rows"
            [totalRecords]="pagination.totalElements" dataKey="stockTransferNotificationDetailId"
            [(selection)]="selectedTransferReceipts" scrollable="true" scrollDirection="both" scrollHeight="55vh" >
            <ng-template pTemplate="caption">
              <div class="row">
                <div class="col-md-3 col-sm-12 ui-fluid">
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" maxSelectedLabels="0"  selectedItemsLabel="{{'columns-selected'|translate}}"
                    defaultLabel="Choose Columns">
                    <ng-template let-col let-i="index" pTemplate="item">
                      {{col.label|translate}}
                    </ng-template>
                  </p-multiSelect>
                </div>
                <div class="offset-md-3 col-md-6 col-sm-12">
                  <button pButton style="margin-left: 4px" type="button" class="ui-button-warning float-right "
                    label="{{'reset'  |translate}}" (click)="resetFilter()"></button>
                  <button pButton class="ui-button-success float-right " (click)="modalShow(null,'NEW')"
                    label="{{'add-new'|translate}}"></button>
                    <button pButton class="ui-button-danger float-right mr-1"
                      [disabled]="isCancelDisabled"
                    (click)="cancelTransferNotification()"
                    label="{{'cancel'|translate}}"></button>
                    <p-splitButton [style]="{'margin-right' : '5px'}"  label="{{'export-selected'|translate}}" 
                    icon="fa fa-file" [model]="selecteMenuItems" 
                    styleClass="ui-button-warning float-right">
                    </p-splitButton>
                    <p-splitButton [style]="{'margin-right' : '5px'}"  label="{{'export-all'|translate}}" 
                    icon="fa fa-file-alt" [model]="menuItems" 
                    styleClass="ui-button-warning float-right"></p-splitButton>
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>

              <tr>
                <th style="width: 3em" rowspan="2">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th width="80px" rowspan="2">{{'action' | translate}}</th>
                <th *ngFor="let col of columns; let i=index;" style="cursor: pointer; width: 10em;"
                  [ngClass]="{'bg-selected-order':pageFilter.orderByProperty ==col.field}"
                  (click)="reOrderData(i,col.field)"><i [ngClass]="'fa  fa-sort-alpha-' + classReOrder[i]"></i>
                  {{col.header|translate}}
                </th>
                
              </tr>
              <tr>
                <th *ngFor="let col of columns" class="ui-fluid" [ngSwitch]="col.field">
                  <p-multiSelect display="chip" appendTo="body" *ngSwitchCase="'goodsMovementActivityType'"
                  [options]="activityTypeList" [(ngModel)]="pageFilter.goodsMovementActivityTypeList"
                  (ngModelChange)="filter(pageFilter)" optionLabel="name"
                  optionValue="name"
                  selectedItemsLabel="{{'select-options'|translate}}" [style]="{minWidth: '100px'}"
                  defaultLabel="Choose Options">
                </p-multiSelect>

                  <!-- <select *ngSwitchCase="'goodsMovementActivityType'" id="activityType" name="activityType"
                    class="form-control" [(ngModel)]="pageFilter.goodsMovementActivityType"
                    (ngModelChange)="filter(pageFilter)">
                    <option [ngValue]="null"> {{'please-select' | translate}}</option>
                    <option *ngFor="let item of activityTypeList" value="{{item}}">{{item}}</option>
                  </select> -->

                  <p-multiSelect display="chip" appendTo="body" *ngSwitchCase="'goodMovementDocumentType'"
                  [options]="documentTypeList" [(ngModel)]="pageFilter.goodMovementDocumentTypeList"
                  (ngModelChange)="filter(pageFilter)" optionLabel="name"
                  optionValue="name"
                  selectedItemsLabel="{{'select-options'|translate}}" [style]="{minWidth: '100px'}"
                  defaultLabel="Choose Options">
                </p-multiSelect>

                  <!-- <select *ngSwitchCase="'goodMovementDocumentType'" id="documentType" name="documentType"
                    class="form-control" [(ngModel)]="pageFilter.goodMovementDocumentType"
                    (ngModelChange)="filter(pageFilter)">
                    <option [ngValue]="null"> {{'please-select' | translate}}</option>
                    <option *ngFor="let item of documentTypeList" value="{{item}}">{{item}}</option>
                  </select> -->

                  <p-multiSelect display="chip" appendTo="body" *ngSwitchCase="'dispatchingStatusEnum'"
                  [options]="dispatchingStatusList" [(ngModel)]="pageFilter.dispatchingStatusEnumList"
                  (ngModelChange)="filter(pageFilter)" optionLabel="name"
                  optionValue="name"
                  selectedItemsLabel="{{'select-options'|translate}}" [style]="{minWidth: '100px'}"
                  defaultLabel="Choose Options">
                </p-multiSelect>

                  <!-- <select *ngSwitchCase="'dispatchingStatusEnum'" id="dispatchingStatus" name="dispatchingStatus"
                    class="form-control" [(ngModel)]="pageFilter.dispatchingStatusEnum"
                    (ngModelChange)="filter(pageFilter)">
                    <option [ngValue]="null"> {{'please-select' | translate}}</option>
                    <option *ngFor="let item of dispatchingStatusList" value="{{item}}">{{item}}</option>
                  </select> -->

                  <p-multiSelect display="chip" appendTo="body" *ngSwitchCase="'goodsMovementStatus'"
                  [options]="goodMovementStatusList" [(ngModel)]="pageFilter.goodsMovementStatusList"
                  (ngModelChange)="filter(pageFilter)" optionLabel="name"
                  optionValue="name"
                  selectedItemsLabel="{{'select-options'|translate}}" [style]="{minWidth: '100px'}"
                  defaultLabel="Choose Options">
                </p-multiSelect>

                  <!-- <select *ngSwitchCase="'goodsMovementStatus'" id="goodsMovementStatus" name="goodsMovementStatus"
                    class="form-control" [(ngModel)]="pageFilter.goodsMovementStatus"
                    (ngModelChange)="filter(pageFilter)">
                    <option [ngValue]="null"> {{'please-select' | translate}}</option>
                    <option *ngFor="let item of goodMovementStatusList" value="{{item}}">{{item}}</option>
                  </select> -->

                  <select *ngSwitchCase="'defected'" name="defected" class="form-control"
                    [(ngModel)]="pageFilter.defected" (ngModelChange)="filter(pageFilter)">
                    <option [ngValue]="null"> {{'please-select' | translate}}</option>
                    <option value="true">YES</option>
                    <option value="false">NO</option>
                  </select>


                  <span *ngSwitchCase="'documentDate'"> </span>
                  <span *ngSwitchCase="'postingDate'"> </span>
                  <span *ngSwitchCase="'transferStartTime'"> </span>
                  <span *ngSwitchCase="'transferFinishTime'"> </span>
                  <input *ngSwitchCase="'dispatcher'" style="width: 100%" pInputText type="text"
                    [(ngModel)]="pageFilter.dispacherName" (ngModelChange)="filter(pageFilter)">
                  <input *ngSwitchCase="'pallet'" style="width: 100%" pInputText type="text"
                    [(ngModel)]="pageFilter.palletId" (ngModelChange)="filter(pageFilter)">
                  <input *ngSwitchCase="'plantName'" style="width: 100%" pInputText type="text"
                    [(ngModel)]="pageFilter[col.field]" disabled>
                  <!--<span *ngSwitchCase="'defected'"> </span>-->

                  <input *ngSwitchDefault style="width: 100%" pInputText type="text" [(ngModel)]="pageFilter[col.field]"
                    (input)="filterByColumn($event.target.value,col.field)">
                </th>

              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-index="index">
              <tr [pSelectableRow]="rowData">
                <td style="width: 3em">
                  <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  </a>
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td width="80px">
                 
                  <ng-container *ngIf="rowData.goodsMovementStatus=='REQUESTED'">
                    <!-- <button class="btn btn-sm btn-outline-info" type="button" tooltipPosition="left" pTooltip="Confirm Good Movement Notification : {{rowData.stockTransferReceiptNotificationId}}"
                      (click)="confirmTransferNotification(rowData.stockTransferReceiptNotificationId)">
                      <i class="fa fa-check"></i>
                    </button> -->
                    <button class="btn btn-sm btn-outline-info" type="button" tooltipPosition="left" pTooltip="Confirm Good Movement Notification : {{rowData.stockTransferReceiptNotificationId}}"
                      (click)="modalShow(rowData.stockTransferReceiptNotificationId,'DETAIL', rowData)">
                      <i class="fa fa-check"></i>
                    </button>
                  </ng-container>
                <button *ngIf="rowData.goodsMovementStatus=='REQUESTED' || rowData.goodsMovementStatus=='WATING_FOR_PREVIOUS_TRANSFER'" class="btn btn-sm btn-outline-danger" type="button"  pTooltip="Cancel Good Movement Notification : {{rowData.stockTransferReceiptNotificationId}}"
                  (click)="cancelTransferNotificationById(rowData.stockTransferNotificationDetailId)">
                  <i class="fa fa-close"></i>
                </button>
                <button *ngIf="rowData.goodsMovementStatus=='WATING_FOR_PREVIOUS_TRANSFER'" 
                class="btn btn-sm btn-outline-info" type="button"  
                pTooltip="Change Good Movement Notification Status : {{rowData.stockTransferNotificationDetailId}}"
                  (click)="changeStatusTransferNotification(rowData.stockTransferNotificationDetailId)">
                  <i class="fa fa-exchange"></i>
                </button>
                  <button *ngIf="(rowData.dispatchingStatusEnum==='PLANNED' && rowData.goodMovementDocumentType!=='TRUCK_TRANSFER') || 
                    ((rowData.goodMovementDocumentType==='TRUCK_TRANSFER')&& !((rowData.goodsMovementStatus==='CANCELED') || (rowData.goodsMovementStatus==='COMPLETED'))) ||
                    ((rowData.goodMovementDocumentType==='SALES_ORDER')&& !((rowData.goodsMovementStatus==='CANCELED') || (rowData.goodsMovementStatus==='COMPLETED')))" 
                    class="btn btn-sm btn-outline-info" type="button" tooltipPosition="left" pTooltip="Process Task"
                      (click)="processTask(rowData, index)">
                      <i class="fa fa-tasks"></i>
                  </button>
                </td>
                <td *ngFor="let col of columns" style="cursor: pointer; width: 10em;" [ngSwitch]="col.field">

                  <p *ngSwitchCase="'postingDate'" (click)="modalShow(rowData.stockTransferReceiptNotificationId,'DETAIL', rowData)">
                    {{rowData[col.field]|date:'dd/MM/yyyy HH:mm'}}</p>

                  <p *ngSwitchCase="'documentDate'" (click)="modalShow(rowData.stockTransferReceiptNotificationId,'DETAIL', rowData)">
                    {{rowData[col.field]|date:'dd/MM/yyyy HH:mm'}}</p>
                    <p *ngSwitchCase="'transferStartTime'" (click)="modalShow(rowData.stockTransferReceiptNotificationId,'DETAIL', rowData)">
                      {{rowData[col.field]|date:'dd/MM/yyyy HH:mm'}}</p>
                      <p *ngSwitchCase="'transferFinishTime'" (click)="modalShow(rowData.stockTransferReceiptNotificationId,'DETAIL', rowData)">
                        {{rowData[col.field]|date:'dd/MM/yyyy HH:mm'}}</p>

                  <span *ngSwitchCase="'defected'" (click)="modalShow(rowData.stockTransferReceiptNotificationId,'DETAIL', rowData)">
                    {{rowData[col.field]==true?'YES':'NO'}}</span>
                  <span *ngSwitchCase="'forklift'">
                      {{rowData[col.field]?.forkliftName}}</span>
                  <span *ngSwitchCase="'quantity'">
                        {{rowData[col.field]| number : '1.1-1'}}</span>
  
                  <a href="javascript:;" *ngSwitchCase="'batch'" (click)="showBatchDetail(rowData.batch)">
                    {{rowData.batch}}</a>

                  <a href="javascript:;" *ngSwitchCase="'purchaseOrderId'"
                    (click)="showPurchaseOrderDetailDialog(rowData.purchaseOrderId)">{{ rowData.purchaseOrderId }}</a>
                  <a href="javascript:;" *ngSwitchCase="'dispatcher'"
                    (click)="showEmployeeDetail(rowData?.dispatcher?.employeeId)">{{ rowData?.dispatcher?.firstName }} {{ rowData?.dispatcher?.lastName }}</a>
                    <a href="javascript:;" *ngSwitchCase="'actName'" (click)="showAccountDetail(rowData.actId)">
                      {{rowData.actName}}</a>
                  <ng-container *ngSwitchCase="'itemNo'">
                    <span  *ngIf="rowData.goodMovementDocumentType === 'ON_SITE'; else ItemNoHREF">{{ rowData['itemNo'] }}</span>

                    <ng-template #ItemNoHREF>
                      <a href="javascript:;" (click)="showPurchaseOrderDialog(rowData)">{{ rowData['itemNo'] }}</a>
                    </ng-template>
                  </ng-container>



                  <a href="javascript:;" *ngSwitchCase="'prodOrderId'"
                    (click)="showProductionOrderDetailDialog(rowData.prodOrderId)">{{ rowData.prodOrderId }}</a>

                  <a href="javascript:;" *ngSwitchCase="'plantName'"
                    (click)="showPlantDetailDialog(rowData.plantId)">{{ rowData.plantName }}</a>

                  <a href="javascript:;" *ngSwitchCase="'materialName'"
                    (click)="showMaterialDetailDialog(rowData.materialId)">{{ rowData.materialName }}</a>
                  <a href="javascript:;" *ngSwitchCase="'materialNo'"
                    (click)="showMaterialDetailDialog(rowData.materialId)">{{ rowData.materialNo }}</a>
                    <a href="javascript:;" *ngSwitchCase="'materialId'"
                    (click)="showMaterialDetailDialog(rowData.materialId)">{{ rowData.materialId }}</a>

                    <ng-container *ngSwitchCase="'wareHouseFromName'">
                      <a href="javascript:;" *ngIf="rowData.goodsMovementActivityType !== 'GOODS_RECEIPT' ; else wareHouseTo" (click)="showWareHouseFromDialog(rowData.wareHouseFromId)">{{ rowData.wareHouseFromName }}</a>
                      <ng-template #wareHouseTo>
                        <a href="javascript:;"  (click)="showWareHouseFromDialog(rowData.wareHouseToId)">{{ rowData.wareHouseToName }}</a>
                      </ng-template>
                  </ng-container>

                  <ng-container *ngSwitchCase="'wareHouseToName'">
                    <a href="javascript:;"  *ngIf="rowData.goodsMovementActivityType !== 'GOODS_RECEIPT'; else wareHouseFrom" (click)="showWareHouseFromDialog(rowData.wareHouseToId)">{{ rowData.wareHouseToName }}</a>
                    <ng-template #wareHouseFrom>
                      <a href="javascript:;"  (click)="showWareHouseFromDialog(rowData.wareHouseFromId)">{{ rowData.wareHouseFromName }}</a>
                    </ng-template>
                  </ng-container>
                  <a href="javascript:;" *ngSwitchCase="'pallet'"
                  (click)="showPalletDetail(rowData[col.field]?.palletId)">{{rowData[col.field]?.palletId}}</a>
                  <a href="javascript:;" *ngSwitchCase="'stockTransferNotificationDetailId'"
                    pTooltip="{{rowData.goodsMovementStatus}}"
                    (click)="modalShow(rowData.stockTransferReceiptNotificationId,'DETAIL', rowData)">{{rowData[col.field]}}</a>
                  <!-- <p *ngSwitchCase="'pallet'">{{rowData[col.field]?.palletId}}</p>   -->
                  <p *ngSwitchDefault (click)="modalShow(rowData.stockTransferReceiptNotificationId,'DETAIL', rowData)">
                    {{rowData[col.field]}}</p>

                  <a href="javascript:;" *ngSwitchCase="'operationName'" (click)="showOperationDetail(rowData.operationId)">{{
                      rowData.operationName
                      }}</a>
                    
                  <a href="javascript:;" *ngSwitchCase="'jobOrderOperationId'"
                      (click)="showJobOrderOperationDetail(rowData.jobOrderOperationId)">{{ rowData.jobOrderOperationId
                      }}</a>

                </td>
               
              </tr>

            </ng-template>

            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
              <tr>
                <td colspan="2"></td>
                <td colspan="6">
                  <tr>
                    <td><strong>{{'stock-transfer-receipt-notification-id' | translate}}</strong> :
                      {{rowData.stockTransferReceiptNotificationId}}
                    </td>
                  </tr>
                  <ng-container *ngIf="rowData.goodMovementDocumentType === 'SALES_ORDER' && rowData.goodsMovementActivityType === 'GOODS_ISSUE'">
                    <tr>
                      <td><strong>{{'sales-order-id' | translate}}</strong> :
                        <a href="javascript:;" (click)="showDialog(rowData.salesOrderId, dialogEnum.ORDER)">
                          {{rowData.salesOrderId}}
                        </a>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td><strong>{{'sales-order-no' | translate}}</strong> : {{rowData.salesOrderNo}}</td>
                    </tr> -->
                  </ng-container>

                  <ng-container  *ngIf="rowData.goodMovementDocumentType === 'PURCHASE_ORDER' && rowData.goodsMovementActivityType === 'GOODS_RECEIPT'">
                    <tr>
                      <td><strong>{{'purchase-order-detail-id' | translate}}</strong> :
                        <a href="javascript:;" (click)="showDialog(rowData.itemNo, dialogEnum.PURCHASEORDERITEMDETAIL)">
                          {{rowData.itemNo}}
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>{{'purchase-order-id' | translate}}</strong> :
                        <a href="javascript:;" (click)="showDialog(rowData.purchaseOrderId, dialogEnum.PURCHASEORDER)">
                          {{rowData.purchaseOrderId}}
                        </a>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td><strong>{{'purchase-order-no' | translate}}</strong> : {{rowData.purchaseOrderNo}}</td>
                    </tr> -->
                  </ng-container>

                  <ng-container *ngIf="rowData.goodMovementDocumentType === 'PRODUCTION_ORDER' && rowData.goodsMovementActivityType === 'GOODS_RECEIPT'">
                    <tr>
                      <td><strong>{{'prod-order-id' | translate}}</strong> :
                        <a href="javascript:;" (click)="showDialog(rowData.prodOrderId, dialogEnum.PRODUCTIONORDER)">
                          {{rowData.prodOrderId}}
                        </a>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td><strong>{{'prod-order-no' | translate}}</strong> : {{rowData.prodOrderNo}}</td>
                    </tr> -->
                  </ng-container>

                  <!-- <tr *ngIf="rowData.goodMovementDocumentType !== 'PRODUCTION_ORDER' && rowData.goodsMovementActivityType !== 'TRANSFER_POSTING'">
                    <td><strong>{{'act-name' | translate}}</strong> :
                      <a href="javascript:;" (click)="showDialog(rowData.actId, dialogEnum.STAFF)">
                        {{rowData.actName}}
                      </a>
                    </td>
                  </tr> -->

                  <tr>
                    <td><strong>{{'barcode' | translate}}</strong> : {{rowData.barcode}}</td>
                  </tr>
                  <tr>
                    <td><strong>{{'barcode-to' | translate}}</strong> : {{rowData.barcodeTo}}</td>
                  </tr>
                  <tr>
                    <td><strong>{{'location-no' | translate}}</strong> : {{rowData.locationNo}}</td>
                  </tr>

                  <tr>
                    <td><strong>{{'defected' | translate}}</strong> : {{(rowData.defected ? 'yes' : 'no') | translate}}</td>
                  </tr>

                  <tr>
                    <td><strong>{{'base-unit' | translate}}</strong> :
                     
                        {{rowData.baseUnit}}
                     
                    </td>
                  </tr>

              
                </td>
                <td colspan="6">
                  <tr>
                    <td><strong>{{'forklift' | translate}}</strong> : {{rowData.forklift?.forkliftName}}</td>
                  </tr>
                  
                  <tr>
                    <td><strong>{{'dispatcher' | translate}}</strong> : 
                      <a href="javascript:;"
                    (click)="showEmployeeDetail(rowData?.dispatcher?.employeeId)">{{ rowData?.dispatcher?.firstName }} {{ rowData?.dispatcher?.lastName }}</a>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>{{'dispatching-status' | translate}}</strong> : 
                     {{rowData.dispatchingStatusEnum}}
                    </td>
                  </tr>
                  <tr>
                    <td><strong>{{'transfer-start-time' | translate}}</strong> : {{rowData.transferStartTime | date:'dd/MM/yyyy HH:mm'}}</td>
                  </tr>
                  <tr>
                    <td><strong>{{'transfer-finish-time' | translate}}</strong> : {{rowData.transferFinishTime | date:'dd/MM/yyyy HH:mm'}}</td>
                  </tr>
                  <tr>
                    <td><strong>{{'document-date' | translate}}</strong> : {{rowData.documentDate | date:'dd/MM/yyyy HH:mm'}}</td>
                  </tr>
                  <!-- <tr>
                    <td><strong>{{'description' | translate}}</strong> : {{rowData.description}}</td>
                  </tr>
                  <tr>
                    <td><strong>{{'create-date' | translate}}</strong> : {{rowData.createDate | date:'dd/MM/yyyy HH:mm'}}</td>
                  </tr> -->
                </td>
              </tr>
            </ng-template>
          </p-table>

          <br />
          <div class="row">
            <app-paging [showSearch]="false" [TotalElements]="pagination.totalElements"
              [CurrentPage]="pagination.currentPage" [PageSize]="pagination.pageSize" [rows]="pagination.rows"
              [TotalPageLinkButtons]="pagination.TotalPageLinkButtons"
              [RowsPerPageOptions]="pagination.RowsPerPageOptions" (onPageChange)="myChanges($event)"></app-paging>
            <span style="margin-left:2px; padding-top: 2px " class="text-muted">{{'total-records'|translate}}:
              {{pagination?.totalElements}}</span>

          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

<!-- Good Movement Notification Modals -->

<ng-template [ngIf]="modal.active">
  <div bsModal [config]="{backdrop: 'static', keyboard: false, show: true}" #myModal="bs-modal" (onHidden)="modal.active=false"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" [ngStyle]="{'max-width': stockModal.modal === 'DETAIL' ? '1600px' : '1400px'}" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> {{'goods-movement-notification' | translate}}</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <ng-template [ngIf]="stockModal.modal=='NEW'">
            <transfer-notification-new (saveAction)="myModal.hide(); search(pageFilter)"></transfer-notification-new>
          </ng-template>

          <ng-template [ngIf]="stockModal.modal=='EDIT'">
            <transfer-notification-edit [id]="stockModal.data.stockTransferReceiptNotificationId"
            [showMovementEditButton]="showMovementEditButton"
            [showMovementCancelButton]="showMovementCancelButton"
             (saveAction)="myModal.hide(); search(pageFilter)" ></transfer-notification-edit>
          </ng-template>

          <ng-template [ngIf]="stockModal.modal=='DETAIL'">
            <transfer-notification-detail [data]="stockModal.transferReceipt"
            (notificationQuantityChanged)="onNotificationQuantityChanged($event)"
            (saveAction)="myModal.hide(); search(pageFilter);"></transfer-notification-detail>
          </ng-template>

        </div>

        <div class="modal-footer">
          <button type="button" *ngIf="stockModal.modal!=='NEW'" class="btn rounded btn-warning" 
          (click)="getPrintHtmlDocument()"><i class="fa fa-file"></i>
            {{'print-document' | translate}}</button>
          <print-component [active]="printComponent.active" [editMode]="true" [requestPrintDto]="requestPrintDto"
                           (activeEvent)="printComponent.active=$event"></print-component>
          <button *ngIf="stockModal.data?.goodsMovementStatus=='REQUESTED'" type="button" class="btn rounded btn-danger"
          (click)="cancelTransferNotificationById(stockModal.data?.stockTransferNotificationDetailId, 'detailNotification')">{{'cancel' | translate}}
          </button>

          <ng-container *ngIf="stockModal.modal=='DETAIL'">
            <!-- <button type="button" class="btn rounded btn-primary"
              (click)="stockModal.modal='NEW'">{{'new' | translate}}
            </button> -->
            <button type="button" class="btn rounded btn-primary"
              (click)="updateNotification()">{{'update' | translate}}
            </button>
            <button *ngIf="stockModal.data?.goodsMovementStatus=='REQUESTED' 
            && stockModal.data?.documentDate && stockModal.data?.postingDate" type="button" 
              class="btn rounded btn-success"
              #confirmButton
              (click)="confirmTransferNotification(stockModal.data?.stockTransferReceiptNotificationId)"
            >
              {{'Confirm' | translate}}
            </button>
           

            <button type="button" style="background:lightslategray;" 
            class="btn rounded btn-outline-secondary"
              (click)="myModal.hide()">{{'close' | translate}}
            </button>

          </ng-container>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ng-template>
