<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{'inspection-method-details' | translate}}
        </div>
        <div class="card-body">
          <form #inspForm="ngForm">
            <table class="table table-bordered">
              <tr>
                <td>{{'inspection-method-code' | translate}}</td>
                <td>
                  <input
                    type="text"
                    id="inspectionMethodCode"
                    name="inspectionMethodCode"
                    [(ngModel)]="inspectionMethod.inspectionMethodCode"
                    class="form-control"
                  />
                </td>
              </tr>
              <tr>
                <td>{{'inspection-method' | translate}}</td>
                <td>
                  <input
                    type="text"
                    id="inspectionMethodName"
                    name="inspectionMethodName"
                    [(ngModel)]="inspectionMethod.inspectionMethodName"
                    class="form-control"
                    required
                  />
                </td>
              </tr>
              <tr>
                <td>{{'valid-from' | translate}}</td>
                <td>
                  <p-calendar class="valid-from" name="validFrom" dateFormat="dd/mm/yy"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="1990:2100"
                    [readonlyInput]="true" [showIcon]="true" [showTime]="true"
                    [(ngModel)]="inspectionMethod.validFrom" required></p-calendar>
                </td>
              </tr>
              <tr>
                <td>{{'description' | translate}}</td>
                <td>
                  <input
                    type="text"
                    id="description"
                    name="description"
                    [(ngModel)]="inspectionMethod.description"
                    class="form-control"
                  />
                </td>
              </tr>
              <!-- <tr>
                <td>{{'status' | translate}}</td>
                <td>
                  <select
                  id="inspectionMethodStatus"
                  name="inspectionMethodStatus"
                  class="form-control"
                  [(ngModel)]="inspectionMethod.inspectionMethodStatus"
                >
                  <option [ngValue]="null">
                    {{ "please-select" | translate }}</option
                  >
                  <option
                    *ngFor="let type of statusList"
                    value="{{ type }}"
                    >{{ type }}</option
                  >
                </select>
                </td>
              </tr> -->
            </table>
          </form>
        </div>
      </div>
      <div class="row col-md-12">
        <button
          type="submit"
          class="btn btn-sm btn-primary"
          [disabled]="!inspForm.form.valid"
          (click)="save()"
        >
          <i class="fa fa-dot-circle-o"></i>
          {{ "save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
