<p-confirmDialog></p-confirmDialog>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" >

          <p-table #dt [columns]="selectedColumns" scrollable="true" scrollHeight="55vh" 
          [value]="locations"
          [rows]="pagination.rows" [totalRecords]="pagination.totalElements"  dataKey="locationId">
            <ng-template pTemplate="caption">
              <div style="text-align:left">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" maxSelectedLabels="0"  selectedItemsLabel="{{'columns-selected'|translate}}"
                               [style]="{minWidth: '200px'}" defaultLabel="Choose Columns">
                  <ng-template let-col let-i="index" pTemplate="item">
                    {{col.label|translate}}
                  </ng-template>
                </p-multiSelect>
                <button pButton  class="ui-button-success float-right" (click)="modalShow(null,'NEW',null)" label="{{'add-new'|translate}}"> </button>
                <button pButton style="margin-right: 5px" class="ui-button-warning float-right" type="button"  icon="fa fa-file-alt" iconPos="left" label="{{'export-all'|translate}}" (click)="dt.exportCSV()"></button>
                <button pButton style="margin-right: 5px" class="ui-button-warning float-right" type="button"  icon="fa fa-file" iconPos="left" label="{{'export-selected'|translate}}" (click)="dt.exportCSV({selectionOnly:true})">
                 </button>
              </div>
              <!--<hr>-->
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr >
                <th style="width: 3em" rowspan="2">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <ng-container *ngFor="let col of columns let i=index" [ngSwitch]="col.field" >
                  <th *ngSwitchDefault style="cursor: pointer" 
                  [ngClass]="{'bg-selected-order':pageFilter.orderByProperty ==col.field}" 
                  (click)="reOrderData(i,col.field)">
                  <i [ngClass]="'fa fa-sort-alpha-' + classReOrder[i]"></i>
                      {{col.header|translate}}
                  </th>
                 
                  <!-- <th *ngSwitchCase="'wareHouse'" style="cursor: pointer; width: 7em;" [ngClass]="{'bg-selected-order':pageFilter.orderByProperty ==col.field}" (click)="reOrderData(i,col.field)"><i [ngClass]="'fa fa-sort-alpha-' + classReOrder[i]"></i>
                    {{col.header|translate}}
                </th> -->
                </ng-container>
                <!-- <th *ngFor="let col of columns; let i=index;" style="cursor: pointer">
                  {{col.header|translate}}

                </th> -->
                <th width="80px" rowspan="2">{{'action' | translate}}</th>
              </tr>
              <tr>
                <th *ngFor="let col of columns" class="ui-fluid" [ngSwitch]="col.field">
                  <select *ngSwitchCase="'locationType'" id="locationType" name="locationType" class="form-control"
                  [(ngModel)]="pageFilter.locationType" (ngModelChange)="filter(pageFilter)">
                    <option [ngValue]="null"> {{'please-select' | translate}}</option>
                    <option value="WAREHOUSE">WAREHOUSE</option>
                    <option value="WORKSTATION">WORKSTATION</option>
                    <option value="OPERATION">OPERATION</option>
                  </select>
                  <input *ngSwitchDefault style="width: 100%"  pInputText type="text" 
                  [(ngModel)]="pageFilter[col.field]" (input)="filterByColumn($event.target.value,col.field)">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData">
                <td style="width: 3em">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <ng-container *ngFor="let col of columns let i=index" [ngSwitch]="col.field" >
                  <td *ngSwitchDefault  style="cursor: pointer" (click)="modalShow(rowData.locationId,'DETAIL',rowData)">
                    {{rowData[col.field]}}
                  </td>
                </ng-container>
               
                <td width="80px" >
                  
                  <button class="btn btn-sm btn-outline-info" type="button" (click)="modalShow(rowData.locationId,'EDIT',rowData)">
                    <i class="fa fa-edit">
                    </i></button>
                    <button class="btn btn-sm btn-outline-danger" type="button" (click)="delete(rowData.locationId)">
                        <i class="fa fa-trash"></i>
                      </button>
                      
                </td>
              </tr>
            </ng-template>
          </p-table>
          <br/>
          <div class="row">
            <app-paging
              [TotalElements]="pagination.totalElements"
              [CurrentPage]="pagination.currentPage"
              [PageSize]="pagination.pageSize"            [rows]="pagination.rows"
              [TotalPageLinkButtons]="pagination.TotalPageLinkButtons"
              [RowsPerPageOptions]="pagination.RowsPerPageOptions"
              (onPageChange)="myChanges($event)"
            ></app-paging>
            <span style="margin-left:2px; padding-top: 2px " class="text-muted" >{{'total-records'|translate}}: {{pagination?.totalElements}}</span>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

<div bsModal [config]="{backdrop: 'static', keyboard: false}" #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-success " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{'location-information' | translate}}</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-template [ngIf]="locationModal?.modal=='NEW'">
          <location-new (saveAction)="myModal.hide(); filter();" [plantId]="pageFilter.plantId"></location-new>
        </ng-template>
        <ng-template [ngIf]="locationModal?.modal=='EDIT'">
          <location-edit [data]="locationModal.data" [plantId]="pageFilter.plantId" (saveAction)="myModal.hide(); filter();"></location-edit>
        </ng-template>
        <ng-template [ngIf]="locationModal?.modal=='DETAIL'">
           <location-detail [data]="locationModal.data"></location-detail>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" style="background:lightslategray;" class="btn rounded btn-outline-secondary" (click)="myModal.hide()">{{'close' | translate}}</button>
        <button *ngIf="locationModal.modal=='DETAIL'" type="button" class="btn rounded btn-success"
                (click)="locationModal.modal='EDIT'">{{'edit' | translate}}
        </button>
      </div>
    </div>
</div>
</div>
<!-- /.modal -->
<!-- /.modal-dialog -->
  <!-- /.modal-content -->
