<div class="  d-flex ui-fluid">
    <p-autoComplete  [(ngModel)]="selectedLocation" [suggestions]="filteredLocations" [disabled]="disabled"
                    (completeMethod)="searchWareHouse($event)" field="locationNo"
                     [dropdown]="dropdown" [required]="required" [forceSelection]="true"  dataKey="locationNo"
                     placeholder="{{placeholder|translate}}" [minLength]="1" name="location" appendTo="body"
                     [baseZIndex]="999999"
                     (onDropdownClick)="handleDropdownClickForWareHouse()" (ngModelChange)="onChangeLocation($event)" >
    </p-autoComplete>

    <button *ngIf="addIfMissing" pButton icon="fa fa-plus-circle"
    (click)="modalShow()"></button>

</div>

<!------------------------- Modals ---------------------------------------->

<ng-template [ngIf]="modal.active">
    <div bsModal [config]="{backdrop: 'static', keyboard: false, show: true}" #myWareHouseModal="bs-modal"
    (onHidden)="modal.active = false;"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">
                    <span >{{'location-information' | translate}}</span>
                  </h4>
                  <button type="button" class="close" (click)="myWareHouseModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <location-new (saveAction)="onSave($event)" [plantId]="locationFilter.plantId"></location-new>
                </div>
            </div>
        </div>
    </div>
</ng-template>
