

<div bsModal [config]="{backdrop: 'static', keyboard: false}" #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog  modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <div class="col-md-12"><h3 align="center">{{'change-password' | translate}}</h3></div>
        </h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class=" form-group row">
            <div class="col-md-12">
          <form #employeeForm="ngForm">
            <table class="table table-bordered">

              <tbody>


              <tr>
                <td width="30%" class="card-header">{{'old-password' | translate}}</td>
                <td><input required minlength="4" maxlength="8" type="password" style="width: 100%"
                           [(ngModel)]="pwd.oldPassword" name="oldPassword"/>

                </td>
              </tr>

              <tr>
                <td>{{'new-password' | translate}}</td>
                <td><input type="password" class="form-control" minlength="4" maxlength="8" name="password"
                           [(ngModel)]="pwd.newPassword"
                           required validateEqual="confirmPassword" reverse="true" #password="ngModel">
                  <small [hidden]="password.valid || (password.pristine )" class="text-danger">
                    Password is required. (min 4, max 8 charater)
                  </small>
                </td>
              </tr>

              <tr>
                <td>{{'re-password' | translate}}</td>
                <td><input type="password" class="form-control" minlength="4" maxlength="8" name="confirmPassword"
                           [(ngModel)]="rePassword"
                           required validateEqual="password" reverse="false" #confirmPassword="ngModel">
                  <small [hidden]="confirmPassword.valid || (confirmPassword.pristine )" class="text-danger">
                    Password mismatch
                  </small>
                </td>
              </tr>

              </tbody>

            </table>
          </form>
            </div>


        </div>


      </div>

      <div class="modal-footer">
        <button pButton type="button" class="ui-button-secondary" (click)="cancel()"
                label="{{'cancel'|translate}}"></button>
        <button [disabled]="!employeeForm.form.valid" pButton type="button" class="ui-button-success" (click)="save()"
                label="{{'save'|translate}}"></button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



