<!--<form #orderEdit="ngForm" >-->
<div class="animated fadeIn">
  <div class="row">
    <form #saleForm="ngForm" class="col-md-12 p-0 ui-fluid">
      <div class="col-md-12">
        <div class="mb-2 p-0">
          <table class="table table-md table-responsive-sm  table-striped table-outline mb-0">
            <tbody>
              <tr>
                <td width="20%" class="text-bold">{{'sales-order-type' | translate}}<span class="float-right">:</span></td>
                <td width="30%">
                  <select id="prodOrderTypeList" name="prodOrderTypeList" class="form-control"
                    [(ngModel)]="order.orderTypeId" >
                    <!-- <option [value]="null"> {{'please-select' | translate}}</option> -->
                    <option *ngFor="let item of salesOrderTypes" [value]="item.orderTypeId">{{item.orderTypeName | translate}}
                    </option>
                  </select>
                </td>
                <!-- <td width="20%"  class="text-bold">{{'order-confirmation' | translate}}<span class="float-right">:</span></td>
                <td width="30%">
                  <input type="text" class="form-control" [(ngModel)]="order.referenceId"
                        name="referenceId" />
                </td> -->
                <td width="20%" class="text-bold">{{'order-status' | translate}}<span class="float-right">:</span></td>
                <td width="30%">
                  <select id="orderStatus" name="orderStatus" class="form-control" [(ngModel)]="order.orderStatus"  (ngModelChange)="onOrderStatusChanged($event)">
                    <!-- <option [ngValue]="null"> {{'please-select' | translate}}</option> -->
                    <option *ngFor="let type of saleOrderStatusList" value="{{type}}">{{type}}</option>
                  </select>
                </td>
              </tr>
              <tr>
             
                <td width="20%" class="text-bold">{{'division' | translate}}<span class="float-right">:</span></td>
                <td width="30%">
                  <select id="actTypeId" name="actTypeId" class="form-control" [(ngModel)]="order.actTypeId" (ngModelChange)="orderTypeChanged($event)">
                    <option [ngValue]="null"> {{'please-select' | translate}}</option>
                    <option *ngFor="let type of listActTypes" [value]="type.actTypeId">{{type.actTypeName}}</option>
                  </select>
                </td>
                <td width="20%" class="text-bold">{{'customer-name' | translate}}<span class="float-right">:</span></td>
                <td width="30%">
                  <div class="ui-inputgroup d-flex">
                    <auto-complete class="flex-grow-1" [allElements]="actList" [itemName]="'actName'" [dropdown]="true"
                      [required]="true" [selectedEl]="selectedCustomer" (selectedEvent)="setSelectedCustomer($event)">
                    </auto-complete>
                    <button pButton icon="fa fa-plus-circle"
                      (click)="params.dialog.title = 'new-customer'; myModal.show()">
                    </button>
                  </div>
                </td>

              </tr>
              <tr>
                <td width="20%" class="text-bold">{{'warehouse' | translate}}<span class="float-right">:</span></td>
                <td width="30%">
                  <warehouse-auto-complete [selectedWareHouse]="mainSelectedWareHouse"
                      (selectedWareHouseEvent)="setSelectedStorageLocation($event)" [type]="'SALES'">
                    </warehouse-auto-complete>
                </td>
               
                <td width="20%" class="text-bold">{{'parity' | translate}}<span class="float-right">:</span></td>
                <td width="30%">
                  <parity-auto-complete [selectedParity]="order.parity"
                  [language]="language"
                  (selectedParityEvent)="order.parity=$event?.parityName;"></parity-auto-complete>
                </td>
              </tr>
              <tr>

                <td width="20%" class="text-bold">{{'customer-order-no' | translate}}<span class="float-right">:</span></td>
                <td width="30%">
                  <input type="text" id="customerOrderNo" name="customerOrderNo" maxlength="25" [(ngModel)]="order.customerOrderNo"
                    class="form-control" placeholder="{{'customer-order-no' | translate}}" />
                </td>

              
                <td width="20%" class="text-bold">{{'check-stock' | translate}}<span class="float-right">:</span></td>
                <td width="30%">
                  <p-checkbox [(ngModel)]="order.checkStock" name="checkStock" binary="true" inputId="binary"></p-checkbox>
                </td>
              </tr>
              <tr>
                <td width="20%" class="text-bold">{{'description' | translate}}<span class="float-right">:</span></td>
                <td width="30%">
                  <textarea type="text" id="description" name="description" [(ngModel)]="order.description"
                    class="form-control" placeholder="{{'description' | translate}}"></textarea>
                </td>

              </tr>
              <tr>
                <td colspan="4">
                  <div class="row align-items-center col-md-12 justify-content-between">
                    <div class="col-md-2 p-0 d-flex justify-content-between">
                      <div class="text-bold">
                        {{'total-net-price' | translate}}<span class="float-right">:</span>
                      </div>
                      <div>
                        {{TotalNetPrice | number}}
                      </div>
                    </div>
                    <div class="col-md-2 p-0 d-flex justify-content-between">
                      <div class="text-bold">
                        {{'total-vat' | translate}}<span class="float-right">:</span>
                      </div>
                      <div>
                        {{TotalVatPrice | number}}
                      </div>
                    </div>
                    <div class="col-md-2 p-0 d-flex justify-content-between">
                      <div class="text-bold">
                        {{'total-discount-price' | translate}}<span class="float-right">:</span>
                      </div>
                      <div>
                        {{TotalDiscountPrice | number}}
                      </div>
                    </div>
                    <div class="col-md-2 p-0 d-flex justify-content-between">
                      <div class="text-bold">
                        {{'total-sales-price' | translate}}<span class="float-right">:</span>
                      </div>
                      <div>
                        {{TotalSalesPrice | number}}
                      </div>
                    </div>
                    <div class="col-md-2 p-0 d-flex justify-content-between">
                      <div class="text-bold">
                        {{'currency' | translate}}<span class="float-right">:</span>
                      </div>
                      <div>
                        {{selectedCustomer?.contractDto?.currency ? selectedCustomer?.contractDto?.currency : '' }}
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-flex justify-content-end" style="background-color:#f2f2f2;">
          <button type="button" class="btn btn-primary" data-toggle="modal" (click)="openSaleOrderDetailsModal(-1)">
            {{'add-item' | translate}} <i class="fa fa-plus"></i></button>
        </div>
      </div>
      <div class="col-md-12" *ngFor="let item of order.orderDetailList; let index=index;">
        <p-tabView>
          <p-tabPanel header="{{'sales-order-item'|translate}}">
            <div class="table-responsive">
              <table class="table table-sm table-outline mb-0">
                <thead style="background-color: rgb(242 242 242);">
                  <tr>
                    <th>{{'material-no' | translate}}</th>
                    <th>{{'material' | translate}}</th>
                    <th>{{'direct-production' |translate}}</th>
                    <th>{{'prepare-production' |translate}}</th>
                    <th>{{'stock-management' |translate}}</th>
                    <th>{{'quantity' |translate}}</th>
                    <th>{{'base-unit' |translate}}</th>
                    <th>{{'cost-center' |translate}}</th>
                    <th>{{'delivery-date' |translate}}</th>
                    <th>{{'batch' |translate}}</th>
                    <th>{{'status' |translate}}</th>
                    <th>{{'warehouse' |translate}}</th>
                    <th>{{'reference-id'|translate}}</th>
                    <th>{{'sales-price'|translate}}</th>
                    <th>{{'unit-price'|translate}}</th>
                    <th>{{'currency'|translate}}</th>
                    <th style="width: 90px;">{{'action'|translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{item.stockNo}}</td>
                    <td>{{item.stockName}}</td>

                    <td>
                      <p-checkbox disabled=true name="{{'direcProd' + index}}" [(ngModel)]="item.directProduction" [binary]="true"></p-checkbox>
                    </td>
                    <td>
                      <p-checkbox disabled=true name="{{'prepareProd' + index}}" [(ngModel)]="item.prepareProduction" [binary]="true"></p-checkbox>
                    </td>
                    <td>
                      <p-checkbox disabled=true name="{{'stockManagement' + index}}" [(ngModel)]="item.stockManagement" [binary]="true"></p-checkbox>
                    </td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.unit}}</td>
                    <td>{{item.costCenterName}}</td>
                    <td>{{item.deliveryDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{item.batch}}</td>
                    <td>{{item.orderDetailStatus}}</td>
                    <td>{{item.warehouseName}}</td>
                    <td>{{item.referenceId}}</td>
                    <td>{{ item.salePrice }}</td>
                    <td>{{ item.unitNetPrice }}</td>
                    <td>{{ item.currency }}</td>

                    <td width="70px">
                      <button class="btn btn-sm btn-outline-info"
                        (click)="openSaleOrderDetailsModal(index)"><i class="fa fa-edit"></i></button>
                      <button class="btn btn-sm btn-outline-danger"
                        (click)="deleteDetailItemFromList(index)"><i class="fa fa-close"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="18">
                      <span class="text-bold">{{'description'| translate}}</span>:
                      <textarea rows="6" name="desc{{index}}" style="width: 50%;" [(ngModel)]="item.description" class="form-control"></textarea>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </p-tabPanel>
          <p-tabPanel header="{{'document'| translate }}">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i>{{ "documentation" | translate }}
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr align="center">
                      <td class="text-center" colspan="2">
                        <image-adder-v2 [isFile]="true"></image-adder-v2>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
      <div class="col-md-12 d-flex justify-content-end mt-3">
        <!-- <button type="reset" class="btn btn-sm btn-danger ml-1 mr-2" (click)="reset()"><i class="fa fa-ban"></i>
          {{'reset' | translate}}
        </button> -->
        <button type="submit" class="btn btn-sm btn-primary mr-1"
          [disabled]="!order.orderDetailList||order.orderDetailList.length==0
          ||isNullMaterial() || submitted
           ||!order.actId||!saleForm.form.valid"
          (click)="save()"><i class="fa fa-dot-circle-o"></i>
          {{'save' | translate}}
        </button>
        <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="closeAction.emit('close');">{{'close' | translate}}</button>
      </div>
    </form>
    <!-- <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          {{'order-info'|translate}}
        </div>
        <div class="card-body">
          <form #saleForm="ngForm" class="form-horizontal ui-fluid">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="prodOrderTypeList">{{'sales-order-type' | translate}}</label>
              <div class="col-md-9">
                <div class="input-group">
                  <select id="prodOrderTypeList" name="prodOrderTypeList" class="form-control"
                    [(ngModel)]="order.orderTypeId" >
                    <option [value]="null"> {{'please-select' | translate}}</option>
                    <option *ngFor="let item of salesOrderTypes" [value]="item.orderTypeId">{{item.orderTypeName | translate}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label"> {{'customer-type' | translate}}</label>
              <div class="col-md-9">
                <select id="actTypeId" name="actTypeId" class="form-control" [(ngModel)]="order.actTypeId" (ngModelChange)="orderTypeChanged($event)">
                  <option [ngValue]="null"> {{'please-select' | translate}}</option>
                  <option *ngFor="let type of listActTypes" value="{{type.actTypeId}}">{{type.actTypeName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"> {{'customer-name' | translate}}</label>
              <div class="col-md-9">
                <div class="ui-inputgroup  d-flex ">
                  <auto-complete class="flex-grow-1" [allElements]="actList" [itemName]="'actName'" [dropdown]="true"
                    [required]="true" [selectedEl]="selectedCustomer" (selectedEvent)="setSelectedCustomer($event)">
                  </auto-complete>
                  <button pButton icon="fa fa-plus-circle"
                    (click)="params.dialog.title = 'new-customer'; myModal.show()">
                  </button>

                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"> {{'order-status'|translate}}</label>
              <div class="col-md-9">
                <div class="ui-inputgroup  d-flex ">
                  <select id="status" name="status" class="form-control" [(ngModel)]="order.orderStatus"  (ngModelChange)="onOrderStatusChanged($event)">
                    <option [ngValue]="null"> {{'please-select' | translate}}</option>
                    <option *ngFor="let type of saleOrderStatusList" value="{{type}}">{{type}}</option>
                  </select>

                </div>
              </div>
            </div>
             BY MUSTAFA
           <div class="form-group row" *ngIf="selectedPlant?.plantId === 91">
             <label class="col-md-3 col-form-label"> {{'hts-status'|translate}}</label>
             <div class="col-md-9">
               <div class="ui-inputgroup  d-flex ">
                 <select id="htsstatus" name="htsstatus" class="form-control" [(ngModel)]="HTS_Status" (ngModelChange)="onHTSStatusChanged($event)">
                   <option [ngValue]="null"> {{'please-select' | translate}}</option>
                   <option *ngFor="let type of HTS_StatusList" value="{{type}}">{{type}}</option>
                 </select>

               </div>
             </div>
           </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"> {{'warehouse'|translate}}</label>
              <div class="col-md-9" style="align-self: center;">
                  <warehouse-auto-complete [selectedWareHouse]="mainSelectedWareHouse"
                    (selectedWareHouseEvent)="setSelectedStorageLocation($event)" [type]="'SALES'">
                  </warehouse-auto-complete>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label"> {{'check-stock'|translate}}</label>
              <div class="col-md-9 align-self-center">
                <p-checkbox [(ngModel)]="order.checkStock" name="checkStock" binary="true" inputId="binary"></p-checkbox>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="description">{{'description' | translate}}</label>
              <div class="col-md-9">
                <textarea type="text" id="description" name="description" [(ngModel)]="order.description"
                  class="form-control" placeholder="{{'description' | translate}}"></textarea>
                <span class="help-block">This is a help text</span>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div> -->

    <!-- <div class="col-md-8 p-0">
      <div class="card">
        <div class="card-header">
          {{'sales-order-add-item' | translate}}
          <div class="card-actions">
            <button type="button" class="btn btn-primary" data-toggle="modal" (click)="openSaleOrderDetailsModal(-1)"><i
                class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="card-body" style="width: 100%; overflow-x: scroll;">
            <table class="table table-sm table-responsive-sm table-hover table-outline mb-0">
              <thead class="table-secondary">
                <tr>
                  <th>{{'material-no' | translate}}</th>
                  <th>{{'material' | translate}}</th>
                  <th>{{'direct-production' |translate}}</th>
                  <th>{{'quantity' |translate}}</th>
                  <th>{{'base-unit' |translate}}</th>
                  <th>{{'delivery-date' |translate}}</th>
                  <th>{{'batch' |translate}}</th>
                  <th>{{'status' |translate}}</th>
                  <th>{{'warehouse' |translate}}</th>
                  <th>{{'priority'|translate}}</th>
                  <th>{{'sales-price'|translate}}</th>

                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of order.orderDetailList; let i = index">
                  <td>{{item.stockNo}}</td>
                  <td>{{item.stockName}}</td>

                  <td>
                    <p-checkbox name="{{'direcProd' + i}}" [(ngModel)]="item.directProduction" [binary]="true"></p-checkbox>
                  </td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.unit}}</td>
                  <td>{{item.deliveryDate | date:'dd-MM-yyyy'}}</td>
                  <td>{{item.batch}}</td>
                  <td>{{item.orderStatus}}</td>
                  <td>{{item.warehouseName}}</td>
                  <td>{{item.priority}}</td>
                  <td>{{ item.salePrice }}</td>

                  <td width="70px"><button class="btn btn-sm btn-outline-info"
                      (click)="openSaleOrderDetailsModal(i)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteDetailItemFromList(i)"><i
                        class="fa fa-close"></i></button></td>
                </tr>
              </tbody>
              <tr *ngIf="!order.orderDetailList || order.orderDetailList.length==0">
                <td colspan="13" class="noData text-center">
                  <strong class=""><i class="fa fa-warning "></i>{{'NO_DATA_FOUND'|translate}}!</strong>
                </td>
              </tr>
            </table>
        </div>
        <div class="card-footer">
          <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i>
            {{'reset' | translate}}
          </button>
          <button type="submit" class="btn btn-sm btn-primary"
            [disabled]="! order.orderDetailList||order.orderDetailList.length==0 ||!order.actId||!saleForm.form.valid"
            (click)="save()"><i class="fa fa-dot-circle-o"></i>
            {{'save' | translate}}
          </button>
        </div>
      </div>
    </div> -->
  </div>
</div>

<!--</form>-->
<ng-container *ngIf="params.dialog.visible">
  <p-dialog header="{{'order' | translate}} {{'details' | translate}}"
    [(visible)]="params.dialog.visible" [style]="{'min-width': '800px',width: '900px'}"
    [maximizable]="true" #dial modal="true" [autoZIndex]="false" dismissableMask="true">
    <!---------- MODEL #1 ------------->
    <form #transferDetailForm="ngForm">
      <div class="col-md-12">
        <p-tabView>
          <p-tabPanel header="{{'main'|translate}}">
              <table class="table table-bordered  ">
                <tbody>
                  <!--change-->
                  <tr>
                    <td>{{'reference-id' | translate}}</td>
                    <td>
                       <div class="d-flex align-items-center">
                        <div  style="width: 95%;" >{{newRequestOrderDetailCreateDto.referenceId}}</div>
                        <!-- <input type="text" disabled style="width: 95%;" id="referenceId" name="referenceId"  [(ngModel)]="newRequestOrderDetailCreateDto.referenceId" -->
                        <!-- class="form-control" placeholder="{{'reference-id' | translate}}" /> -->
                        <!-- <button pButton (click)="clearReferenceId()">{{'clear'|translate}}</button> -->
                        <button pButton class="mr-1" label="{{'clear'|translate}}" (click)="clearReferenceId()"></button>
                        <button pButton icon="fa fa-plus-circle" (click)="addAndIncrementReferenceId()"></button>
                        
                       </div>
                    </td>
                  </tr>
                  <tr>
                    <td>{{'plant' | translate}}</td>
                    <td>
                      <span style="width: 100%;" *ngIf="selectedPlant"> {{this.selectedPlant.plantName}}</span>
                      <plant-auto-complete *ngIf="!selectedPlant" [required]="true"
                        [selectedPlantId]="newRequestOrderDetailCreateDto.plantId" [addIfMissing]="false"
                        (selectedPlantEvent)="setSelectedPlant($event)" [eventFire]="true">
                      </plant-auto-complete>


                    </td>
                  </tr>
                  <!--change-->
                  <!--change-->
                  <tr>
                    <td>{{'product' | translate}}</td>
                    <td>
                      <span class="bg-readonly form-control" *ngIf="newRequestOrderDetailCreateDto.stockId"
                        (click)="params.dialog.title = 'material'; myModal.show()">{{newRequestOrderDetailCreateDto.stockNo}} | {{newRequestOrderDetailCreateDto.stockName}} | {{newRequestOrderDetailCreateDto.stockName2}} | {{newRequestOrderDetailCreateDto.stockName3}}</span>
                      <span class="bg-readonly form-control" *ngIf="!newRequestOrderDetailCreateDto.stockId"
                        (click)="params.dialog.title = 'material'; myModal.show()">{{'click-to-select' | translate}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>{{'warehouse' | translate}}</td>
                    <td>

                      <warehouse-auto-complete [disabled]="!newRequestOrderDetailCreateDto.plantId" [required]="true"
                        [selectedWareHouseId]="newRequestOrderDetailCreateDto.warehouseId"
                        [plantId]="newRequestOrderDetailCreateDto.plantId" [addIfMissing]="true"
                        (selectedWareHouseEvent)="setSelectedWarehouse($event)" [type]="'SALES'">
                      </warehouse-auto-complete>

                    </td>
                  </tr>

                  <!--change-->


                  <!-- <tr>
                    <td>{{'height' | translate}}</td>
                    <td>
                      <input type="number" class="form-control-sm" name="height"
                        [(ngModel)]="newRequestOrderDetailCreateDto.height" min="1" />
                    </td>
                  </tr>
                  <tr>
                    <td>{{'width' | translate}}</td>
                    <td>
                      <input type="number" class="form-control-sm" name="width"
                        [(ngModel)]="newRequestOrderDetailCreateDto.width" min="1" />
                    </td>
                  </tr>
                  <tr>
                    <td>{{'dimension-unit' | translate}}</td>
                    <td>
                      <select id="dimensionunit" name="dimensionunit" class="form-control"
                          [(ngModel)]="newRequestOrderDetailCreateDto.dimensionUnit" required>
                          <option [ngValue]="null"> {{'please-select' | translate}}</option>
                          <option *ngFor="let item of unitList" value="{{item.alternativeUnit}}">{{item.alternativeUnit}}
                          </option>
                        </select>
                    </td>
                  </tr> -->
                  <tr>
                    <td>{{'direct-production' | translate}}</td>
                    <td>
                      <p-checkbox name="directProduction" [(ngModel)]="newRequestOrderDetailCreateDto.directProduction" (ngModelChange)="newRequestOrderDetailCreateDto.prepareProduction=false;" [binary]="true"></p-checkbox>
                    </td>
                  </tr>
                  <tr>
                    <td>{{'prepare-production' | translate}}</td>
                    <td>
                      <p-checkbox name="prepareProduction" [(ngModel)]="newRequestOrderDetailCreateDto.prepareProduction" (ngModelChange)="newRequestOrderDetailCreateDto.directProduction=false;" [binary]="true"></p-checkbox>
                    </td>
                  </tr>

                  <tr>
                    <td>{{'stock-management' | translate}}</td>
                    <td>
                      <p-checkbox name="stockManagement" [(ngModel)]="newRequestOrderDetailCreateDto.stockManagement" (ngModelChange)="newRequestOrderDetailCreateDto.stockManagement;" [binary]="true"></p-checkbox>
                    </td>
                  </tr>


                  <tr>
                    <td>{{'quantity' | translate}}</td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="newRequestOrderDetailCreateDto.quantity"
                        (ngModelChange)="calculatePrices()" name="quantity" min="1" required/>
                  </tr>

                  <tr>
                    <td>{{'base-unit' | translate}}</td>
                    <td>
                      <input style="width: 100%" [(ngModel)]="newRequestOrderDetailCreateDto.unit" disabled readonly
                        name="unit" required />
                    </td>
                  </tr>

                  <tr>
                    <td>{{'order-status' | translate}}</td>
                    <td>
                      <select id="Detailstatus" name="Detailstatus" class="form-control"
                        [(ngModel)]="newRequestOrderDetailCreateDto.orderDetailStatus">
                        <!-- <option [value]="null"> {{'please-select' | translate}}</option> -->
                        <option *ngFor="let type of productTreeStatusList" [value]="type">{{type}}</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>{{'batch-code' | translate}}</td>
                    <td class="ui-fluid">
                      <batch-auto-complete [plantId]="newRequestOrderDetailCreateDto.plantId"
                        [stockId]="newRequestOrderDetailCreateDto.stockId"
                        [selectedBatchCode]="newRequestOrderDetailCreateDto.batch" [batchLevel]="'SALES_ORDER'"
                        [actId]="order.actId" (selectedBatchEvent)="setSelectedBatch($event)" [addIfMissing]="true">
                      </batch-auto-complete>

                    </td>
                  </tr>


                  <tr>
                    <td>{{'shipment-date' | translate}}</td>
                    <td>
                      <p-calendar class="ui-fluid custom-calendar remove-scroll"
                        [(ngModel)]="newRequestOrderDetailCreateDto.shipmentDate" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="1990:2100" name="shipmentDate" [showIcon]="true" [showTime]="true"
                        dateFormat="dd/mm/yy"></p-calendar>
                    </td>
                  </tr>
                  <tr>
                    <td>{{'delivery-date' | translate}}</td>
                    <td>
                      <p-calendar class="custom-calendar remove-scroll" class="ui-fluid"
                        [(ngModel)]="newRequestOrderDetailCreateDto.deliveryDate" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="1990:2100" name="deliveryDate"
                        [showIcon]="true" dateFormat="dd/mm/yy" showTime="true" required>
                      </p-calendar>
                    </td>
                  </tr>

                  <tr>
                    <td>{{'priority' | translate}}</td>
                    <td>
                      <select [(ngModel)]="newRequestOrderDetailCreateDto.priority" id="priorityId" name="priorityId"
                        class="form-control" (change)="prioritySelection($event)" required>
                        <option [value]="null"> {{'please-select' | translate}}</option>
                        <option [value]="priority" *ngFor="let priority of commonPriorities">{{priority | translate}}
                        </option>
                      </select>
                    </td>
                  </tr>




                </tbody>
              </table>
          </p-tabPanel>
          <p-tabPanel header="{{'pricing'|translate}}">
            <table class="table table-bordered">
              <tr>
                <td width="30%">{{'material' | translate}}</td>
                <td>
                  <span class="bg-readonly form-control" *ngIf="newRequestOrderDetailCreateDto.stockId"
                    (click)="params.dialog.title = 'material'; myModal.show()">{{newRequestOrderDetailCreateDto.stockNo}} | {{newRequestOrderDetailCreateDto.stockName}}</span>
                  <span class="bg-readonly form-control" *ngIf="!newRequestOrderDetailCreateDto.stockId"
                    (click)="params.dialog.title = 'material'; myModal.show()">{{'click-to-select' | translate}}</span>
                </td>
              </tr>
              <tr>
                <td>{{'currency' | translate}}</td>
                <td>
                  <div class="d-flex col-md-12 align-items-center p-0">
                    <div class="col-md-7 p-0">
                      <currency-auto-complete [selectedCurrency]="newRequestOrderDetailCreateDto.currency" (selectedCurrencyEvent)="onSelectCurrency($event)" ></currency-auto-complete>
                    </div>
                    <div class="col-md-5" *ngIf="selectedMaterialCurrency && exChangeRate && selectedMaterialCurrency!==newRequestOrderDetailCreateDto.currency">
                      1 {{newRequestOrderDetailCreateDto.currency}} = {{exChangeRate}} {{selectedMaterialCurrency}}
                    </div>
                  </div>
                </td>
                  <!-- <input type="text" name="currency" class="form-control" [(ngModel)]="newRequestOrderDetailCreateDto.currency" /> -->
              </tr>
              <tr>
                <td>{{'unit-net-price' | translate}}</td>
                <td>
                  <div class="d-flex col-md-12 align-items-center p-0">
                    <div class="col-md-7 p-0">
                        <input type="number" name="unitNetPrice" class="form-control"
                        [(ngModel)]="newRequestOrderDetailCreateDto.unitNetPrice" min="0"
                        (ngModelChange)="calculatePrices()" />
                      </div>
                      <div class="col-md-5">
                        List Price: {{materialCurrentPrice}} {{selectedMaterialCurrency}}
                      </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>{{'net-price' | translate}}</td>
                <td>
                  <input type="number" name="netPrice" class="form-control"
                  [(ngModel)]="newRequestOrderDetailCreateDto.netPrice"
                  (ngModelChange)="calculateUnitNetPrice()"
                  min="0" />
                </td>
              </tr>
              <tr>
                <td>{{'delivery-cost' | translate}}</td>
                <td>
                  <input type="number" name="deliveryCost" class="form-control"
                  [(ngModel)]="newRequestOrderDetailCreateDto.deliveryCost" min="0"
                  (ngModelChange)="calculatePrices()"
                  />
                </td>
              </tr>
              <tr>
                <td>{{'sales-price' | translate}}</td>
                <td>
                  <input type="number" name="salePrice" class="form-control" [(ngModel)]="newRequestOrderDetailCreateDto.salePrice" min="0"
                  (ngModelChange)="calculatePrices()" disabled />
                </td>
              </tr>
              <tr>
                <td>{{'cost-price' | translate}}</td>
                <td>
                  <input type="number" name="costPrice" class="form-control" [(ngModel)]="newRequestOrderDetailCreateDto.costPrice" min="0" />
                </td>
              </tr> 
              <tr>
                <td>{{'discount' | translate}} %</td>
                <td>
                  <div class="d-flex flex-row align-items-center">
                    <input type="number" class="col-md-6"  name="discount" class="form-control" 
                    [(ngModel)]="newRequestOrderDetailCreateDto.discount" min="0" 
                    (ngModelChange)="calculatePrices()"
                    />
                    <span class="col-md-6">{{discountPrice}}</span>
                 </div>
                </td>
              </tr>
              <tr>
                <td>{{'vat-rate' | translate}} %</td>
                <td>
                  <div class="d-flex flex-row align-items-center">
                    <input type="number" class="col-md-6"  name="vatRate" class="form-control" 
                    [(ngModel)]="newRequestOrderDetailCreateDto.vatRate" min="0" 
                    (ngModelChange)="calculatePrices()"
                    />
                    <span class="col-md-6">{{vatPrice}}</span>
                 </div>
                 </td>
              </tr>
              <tr>
                <td>{{'cost-center' | translate}}:</td>
                <td >
                  <cost-center-auto-complete [costCenterId]="newRequestOrderDetailCreateDto.costCenterId"
                  (selectedCostCenterEvent)="newRequestOrderDetailCreateDto.costCenterId=$event?.costCenterId; newRequestOrderDetailCreateDto.costCenterName=$event?.costCenterName" >
                  </cost-center-auto-complete>
                </td>
              </tr>
            </table>
          </p-tabPanel>
        </p-tabView>

      </div>
      <div class="col-md-12">
            <button class="btn btn-sm btn-danger" (click)="resetNewItemDetails()"><i class="fa fa-ban"></i>
              {{'reset' | translate}}
            </button>
            <button type="submit" class="btn btn-sm btn-primary"
            [disabled]="!transferDetailForm.form.valid || !newRequestOrderDetailCreateDto.stockId"
              (click)="addDetails()"><i class="fa fa-dot-circle-o"></i>
              {{'save' | translate}}
            </button>
      </div>
    </form>
  </p-dialog>
</ng-container>

<!------------------------- Modals ---------------------------------------->

<div bsModal [config]="{backdrop: 'static', keyboard: false}" #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success modal-lg" role="document"
    >
    <!-- [ngClass]="{'modal-lg': params.dialog.title == 'material' , 'modal-lg': params.dialog.title == 'new-customer'}" -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>{{params.dialog.title | translate}}</span>
        </h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <customer-new *ngIf="params.dialog.title == 'new-customer'" [fromAutoComplete]="true" (saveAction)="setCustomer($event);myModal.hide()">
        </customer-new>

        <ng-container *ngIf="params.dialog.title == 'material'">
          <div class="form-group row">
            <!--keep the modal open!!!!!-->
            <div class="col-md-12">
              <choose-stock-pane [plantId]="newRequestOrderDetailCreateDto.plantId"
                (selectedEvent)="selectMaterialChanged($event);myModal.hide()" 
                [includeMaterials]="includeMaterials"
                [hideCaption]=false  [onlyAddButton]="true" [showStockManagement]="true">
              </choose-stock-pane>
            </div>
          </div>
        </ng-container>
        <!---------- MODEL #2 ------------->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">{{'close' | translate}}</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
