<div class="animated fadeIn">
  <div class="col-md-12">
    <p-tabView>
      <p-tabPanel header="{{'project' | translate}}">
        <div class="card">
          <div class="card-header">
            {{'project-details' | translate}}
          </div>
          <div class="card-body">
            <div class="row col-md-12">
              <div class="col-md-6">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>{{'project_id'|translate}}</td>
                      <td>
                        {{projectDto.projectId}}
                      </td>
                    </tr>
                    <tr>
                      <td>{{'project_code'|translate}}</td>
                      <td>{{projectDto.code}}</td>
                    </tr>
                    <tr>
                      <td>{{'project_name'|translate}}</td>
                      <td>{{projectDto.name}}</td>
                    </tr>
                    <tr>
                      <td>{{'project_status'|translate}}</td>
                      <td>{{projectDto.status}}</td>
                    </tr>
                    <tr>
                      <td>{{'responsible_employee' | translate}}</td>
                      <td> {{projectDto.responsibleEmployee?.firstName}} {{projectDto.responsibleEmployee?.lastName}}</td>
                    </tr>
                    <tr>
                      <td>{{'description' | translate}}</td>
                      <td>
                          {{projectDto.description}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>{{'planned-start-date' | translate}}</td>
                      <td>{{projectDto.startDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                    <tr>
                      <td>{{'planned-finish-date' | translate}}</td>
                      <td>{{projectDto.finishDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                    <tr>
                      <td>{{'scheduled-start-date' | translate}}</td>
                      <td>{{projectDto.scheduledStartDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                    <tr>
                      <td> {{'scheduled-finish-date' | translate}}</td>
                      <td>{{projectDto.scheduledFinishDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                    <tr>
                      <td>{{'actual-start-date' | translate}}</td>
                      <td>{{projectDto.actualStartDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                    <tr>
                      <td>{{'actual-finish-date' | translate}}</td>
                      <td> {{projectDto.actualFinishDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                    <tr>
                      <td>{{'erp-start-date' | translate}}</td>
                      <td>{{projectDto.erpPlannedStartDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                    <tr>
                      <td>{{'erp-finish-date' | translate}}</td>
                      <td> {{projectDto.erpPlannedFinishDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="{{'milestone-list' | translate}}">
        <div class="card">
          <div class="card-header">
            {{'milestone-items' | translate}}
            <!-- <div class="card-actions">
              <button type="button" class="btn btn-primary" data-toggle="modal" (click)="openPurchaseQuotationDetailsModal(-1)"><i
                  class="fa fa-plus"></i></button>
            </div> -->
          </div>
          <div class="card-body" style="width: 100%; overflow-x: scroll;">
            <p-table dataKey="milestoneId" [value]="projectDto.milestoneDtoList">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 3rem"></th>
                  <!-- <th>{{'plant'|translate}}</th> -->
                  <th>{{'milestone_code'|translate}}</th>
                  <th>{{'milestone_name'|translate}}</th>
                  <th>{{'status'|translate}}</th>
                  <th>{{'responsible_employee'|translate}}</th>
                  <th>{{'description'|translate}}</th>
                  <th>{{'planned-start-date'|translate}}</th>
                  <th>{{'planned-finish-date'|translate}}</th>
                  <th>{{'action'|translate}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-i="rowIndex" let-expanded="expanded">
                <tr>
                  <td>
                    <a href="#" [pRowToggler]="item">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </td>
                  <!-- <td>{{item.plantName}}</td> -->
                  <td>{{item.code}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.status}}</td>
                  <td>{{item.responsibleEmployee?.firstName}} {{item.responsibleEmployee?.lastName}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.startDate | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{item.finishDate | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td width="70px">
                    <button [disabled]="!item.prodOrderList || !item.prodOrderList.length" class="btn btn-sm btn-outline-info" pTooltip="{{'job-orders'|translate}}"
                          (click)="openProdOrderList(item.milestoneId)">
                          <i class="fa fa-leaf"></i>
                    </button>
                    <!-- <button class="btn btn-sm btn-outline-info"
                      (click)="openPurchaseQuotationDetailsModal(i)"><i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-danger" 
                      (click)="deletePurchaseQuotationDetailsModal(i)">
                      <i class="fa fa-close"></i>
                    </button> -->
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-item>
                <tr>
                  <td colspan="9">
                    <p-tabView>
                      <p-tabPanel header="{{'details' | translate}}">
                        <div class="card">
                          <div class="card-header">
                            {{'milestone-details' | translate}}
                          </div>
                          <div class="card-body">
                            <div class="row col-md-12">
                              <div class="col-md-6">
                                <table class="table table-bordered">
                                  <tbody>
                                    <tr>
                                      <td>{{'milestone_id'|translate}}</td>
                                      <td>{{item.milestoneId}}</td>
                                    </tr>
                                    <tr>
                                      <td>{{'milestone_code'|translate}}</td>
                                      <td>{{item.code}}</td>
                                    </tr>
                                    <tr>
                                      <td>{{'milestone_name'|translate}}</td>
                                      <td>{{item.name}}</td>
                                    </tr>
                                     <tr>
                                      <td>{{'planned-start-date'|translate}}</td>
                                      <td>{{item.startDate | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                      <td>{{'planned-finish-date'|translate}}</td>
                                      <td>{{item.finishDate | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="col-md-6">
                                <table class="table table-bordered">
                                  <tbody>
                                    <tr>
                                      <td>{{'scheduled-start-date'|translate}}</td>
                                      <td>{{item.scheduledStartDate | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                      <td>{{'scheduled-finish-date'|translate}}</td>
                                      <td>{{item.scheduledFinishDate | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                      <td>{{'actual-start-date'|translate}}</td>
                                      <td>{{item.actualStartDate | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                     <tr>
                                      <td>{{'actual-finish-date'|translate}}</td>
                                      <td>{{item.actualFinishData | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                      <td>{{'erp-start-date'|translate}}</td>
                                      <td>{{item.erpPlannedStartDate | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                     <tr>
                                      <td>{{'erp-finish-date'|translate}}</td>
                                      <td>{{item.erpPlannedFinishDate | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                             </div>
                          </div>
                        </div>
                      </p-tabPanel>
                      <p-tabPanel header="{{'project-task-list' | translate}}">
                        <p-table [value]="item.projectTask" 
                        [paginator]="item.projectTask?.length>10" [rows]="10" 
                        dataKey="milestoneTaskId"  scrollable="true" scrollHeight="42vh">
                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <th style="width: 3em">
                              </th>
                              <th> {{'task-id' | translate}} </th>
                              <th> {{'task-code' | translate}}</th>
                              <th> {{'milestone_code' | translate}}</th>
                              <th> {{'project_code' | translate}}</th>
                              <th> {{'workcenter' | translate}}</th>
                              <th> {{'start-date' | translate}}</th>
                              <th> {{'finish-date' | translate}}</th>
                            </tr>
                          </ng-template>
                
                          <!-- let-expanded="expanded" -->
                          <ng-template pTemplate="body" let-rowData  >
                            <tr  >
                              <td style="width: 3em; font-size: 12px" >
                                <!-- <a href="#" [pRowToggler]="rowData">
                                  <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                </a> -->
                              </td>
                              <td>
                                {{rowData.milestoneTaskId}}
                              </td>
                              <td>
                                {{rowData.taskCode}}
                              </td>
                              <td>
                                {{rowData.mileStoneNo}}
                              </td>
                              <td>
                                {{rowData.projectNo}}
                              </td>
                              <td>
                                <a href="javascript:;" 
                                (click)="modalWorkCenter(rowData.workCenterId)">
                                {{rowData.workCenterName}}</a>
                              </td>
                              <td>{{rowData.startDate | date:'dd/MM/yyyy HH:mm'}}</td>
                              <td>{{rowData.finishDate | date:'dd/MM/yyyy HH:mm'}}</td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage" >
                            <tr>
                              <td colspan="9" class="noData text-center">
                                <strong class=""><i class="fa fa-warning "></i>{{'NO_DATA_FOUND'|translate}}!</strong>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </p-tabPanel>
                    </p-tabView>
                  
                  </td>
                            
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>

  <!-- <div class="row col-md-12 ml-2">
      <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i>
        {{'reset' | translate}}
      </button>
      [disabled]="!order.purchaseOrderDetailList||order.purchaseOrderDetailList.length==0||!saleForm.form.valid"
      <button type="submit" class="btn btn-sm btn-primary" 
        [disabled]="!projectDto.milestoneDtoList
          ||projectDto.milestoneDtoList.length==0
          ||!projectDto.status"
        (click)="save()">
        <i class="fa fa-dot-circle-o"></i>
        {{'save' | translate}}
      </button>
  </div> -->
</div>


<!------------------------- Modals ---------------------------------------->