<div class="animated fadeIn">
  <div class="row" *ngIf="company">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> {{'account-information' | translate}}
            </div>
            <div class="card-body">

              <table class="table table-striped table-outline">
                <tbody>
                <tr>
                  <td width="30%" class="text-bold">{{'company-id' | translate}} <span class="float-right">:</span>
                  </td>
                  <td>{{company.companyId}}</td>
                </tr>
                <tr>
                  <td width="30%" class="text-bold">{{'company-name' | translate}}<span class="float-right">:</span></td>
                  <td>{{company.companyName}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'company-code' | translate}}<span class="float-right">:</span></td>
                  <td>{{company.companyCode}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'country' | translate}}<span class="float-right">:</span></td>
                  <td>{{company.countryName}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'city' | translate}}<span class="float-right">:</span></td>
                  <td>{{company.cityName}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'company-address' | translate}}<span class="float-right">:</span></td>
                  <td>{{company.companyAddress}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'address' | translate}}<span class="float-right">:</span></td>
                  <td>{{company.address}}</td>
                </tr>
                <tr>
                  <td class="text-bold">{{'post-code' | translate}}<span class="float-right">:</span></td>
                  <td>{{company.postcode}}</td>
                </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i>{{'account-photo' | translate}}
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <tbody>
                <tr align="center">
                  <td class="text-center" colspan="2">
                    <image-adder></image-adder>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> {{'plant-information' | translate}}
              <button  class="btn btn-sm btn-primary float-right" (click)="modalShow(null, 'NEW')" type="button">
                <i class="fa fa-plus-circle"></i></button>
            </div>
            <div class="card-body">
              <table class="table table-striped table-outline">
                <thead>
                  <th>{{'plant-code' | translate}}</th>
                  <th>{{'plant-name' | translate}}</th>
                  <th>{{'company' | translate}} {{'address' | translate}}</th>
                  <th>{{'post-code' | translate}}</th>
                  <!-- <th>{{'action' | translate}}</th> -->
                </thead>
                <tbody *ngIf="company.plantList">
                  <tr *ngFor="let plant of company.plantList">
                    <td (click)="modalShow(plant, 'DETAIL')" >{{plant.plantCode}}</td>
                    <td (click)="modalShow(plant, 'DETAIL')" >{{plant.plantName}}</td>
                    <td (click)="modalShow(plant, 'DETAIL')" >{{plant.companyAddress}}</td>
                    <td (click)="modalShow(plant, 'DETAIL')" >{{plant.postcode}}</td>
                    <!-- <td>
                      <button  class="btn btn-sm btn-outline-danger" (click)="deletePlant(plant.plantId)" type="button">
                        <i class="fa fa-trash"></i></button>
                      <button class="btn btn-sm btn-outline-info" (click)="modalShow(plant, 'EDIT')" type="button">
                        <i class="fa fa-edit"></i></button>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>
</div>

<ng-template [ngIf]="plantModal.active">
  <div bsModal [config]="{backdrop: 'static', keyboard: false, show: true}" #myPlantModal="bs-modal" (onHidden)="plantModal.active=false" class="modal fade"
       tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
  <div class="modal-dialog modal-success modal-md"
   role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{'plant-information' | translate}}</h4>
        <button type="button" class="close" (click)="myPlantModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-template [ngIf]="plantModal.modal=='NEW'">
          <plant-new [companyId]="company.companyId" (saveAction)="myPlantModal.hide(); retrievePlantList();"></plant-new>

        </ng-template>
        <ng-template [ngIf]="plantModal.modal=='EDIT'">
          <plant-edit [data]="plantModal.data" (saveAction)="myPlantModal.hide();retrievePlantList();"></plant-edit>
        </ng-template>
        <ng-template [ngIf]="plantModal.modal=='DETAIL'">
          <plant-detail [data]="plantModal.data" ></plant-detail>
        </ng-template>
      </div>

      <div class="modal-footer">
        <button type="button" style="background:lightslategray;" class="btn rounded btn-outline-secondary" (click)="myPlantModal.hide()">{{'close' | translate}}</button>
        <button *ngIf="plantModal.modal=='DETAIL'" type="button" class="btn rounded btn-primary" (click)="plantModal.modal='NEW'">{{'new' | translate}}</button>

        <button *ngIf="plantModal.modal=='DETAIL'" type="button" class="btn rounded btn-success"
                (click)="plantModal.modal='EDIT'">{{'edit' | translate}}</button>
      </div>
    </div>
  </div>
</div>
</ng-template>
