<div class="animated fadeIn">
  <div class="card" *ngIf="controlIndicatorData">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> {{'control-indicator-data-detail' | translate}}
    </div>
    <div class="card-body">
      <form #stockForm="ngForm">
        <table class="table table-striped table-outline">
          <tbody>
          <tr>
            <td width="30%" class="text-bold">{{'characteristic-control-indicator-data-id' | translate}} <span style="width: 0 !important;" class="float-right">:</span> </td>
            <td>{{controlIndicatorData.contIndiId}}</td>
          </tr>
          <tr>
            <td width="30%" class="text-bold">{{'characteristic-control-indicator-data-code' | translate}} <span style="width: 0 !important;" class="float-right">:</span> </td>
            <td>{{controlIndicatorData.code}}</td>
          </tr>
          <tr>
            <td class="text-bold">{{'decimal-places' | translate}}<span style="width: 0 !important;" class="float-right">:</span></td>
            <td>{{controlIndicatorData.decimalPlaces}}</td>
          </tr>
          <tr>
            <td class="text-bold">{{'measurement-unit' | translate}}<span style="width: 0 !important;" class="float-right">:</span></td>
            <td>{{controlIndicatorData.measurementUnit}}</td>
          </tr>
          <tr>
            <td class="text-bold">{{'lower-specific-limit' | translate}}<span style="width: 0 !important;" class="float-right">:</span></td>
            <td>{{controlIndicatorData.lowerSpecificLimit}}</td>
          </tr>
          <tr>
            <td class="text-bold">{{'upper-limit' | translate}}<span style="width: 0 !important;" class="float-right">:</span></td>
            <td>{{controlIndicatorData.upperLimit}}</td>
          </tr>
          <tr>
            <td class="text-bold">{{'target-value' | translate}}<span style="width: 0 !important;" class="float-right">:</span></td>
            <td>{{controlIndicatorData.targetValue}}</td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

