emp-shift-group-list {
  .sub-table .ui-table .ui-table-thead>tr>th {
    font-size: 11px;
    background:#2998aa !important;
    color: #fff;
  }

  .transfer-pos {
    position: absolute;
    top: 4px;
    right: 16%;
  }
  .pos-rel{
    position: relative;
  }
}