.bg-gray-dark {
  background-color: #393939;
}

.bg-gray-light {
  background-color: #555555;
}

.display-8 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3rem ;
}

.display-7 {
  font-size: 1.8rem;
  font-weight: 400;
}

.text-bold{
  font-weight: 600;
}

.display-9 {
  font-size: 1.0rem;
  font-weight: 400;
  line-height: 1.3rem
}


.display-10 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.3rem
}


