<div class="col-lg-12  bg-gray-light border-0" id="monitoring-detail">
    <div class="d-flex flex-row bg-gray-dark shadow-sm py-3 px-3 justify-content-between display-9 text-light" style="margin-left: -9px; margin-right: -9px; margin-top: 6px;">
      <div>
        <span>{{'workstation-status' | translate}}</span> :
        <span class="text-bold" [ngClass]="{
                   'workstation-status-prod': models[0].status == 'PRODUCTION' ,
                   'workstation-status-setup': models[0].status == 'SETUP' ,
                   'workstation-status-setup_overtime': models[0].status == 'SETUP_OVERTIME' ,
                   'workstation-status-maintenance'  :  models[0].status ==  'MAINTENANCE' ,
                    'workstation-status-standby'  :  models[0].status ==  'WAITING_FOR_JOB'|| models[0].status ==  'MANIPULATION',
                    'workstation-status-waiting-for-labor'  :  models[0].status ==  'WAITING_FOR_LABOR' ,
                    'workstation-status-waiting-for-maintenance'  :  models[0].status ==  'WAITING_FOR_MAINTENANCE' ,
                    'workstation-status-waiting-for-quality'  :  models[0].status ==  'WAITING_FOR_QUALITY' ,
                     'workstation-status-stop'  : models[0].status == 'STOPPED' ||models[0].status == 'CLOSED'||models[0].status == 'UNKNOWN_STOPPED'}">
          {{models[0].status|translate}}</span>
      </div>
      <div>
        <span>{{'workstation-name' | translate}}</span> : <span class="text-bold">
          <a href="javascript:;" style="color: white;" (click)="openworkStationDetails(models[0].workStationId)">
            {{models[0]?.workStationName}}
          </a>
        </span>
      </div>
      <div>
        <span>{{'workcenter-name' | translate}}</span> : <span class="text-warning text-bold ">
          <a href="javascript:;" style="color: #ffba06;;" (click)="openworkStationDetails(models[0].workStationId)">
            {{models[0]?.workStationName}}
          </a>
        </span>
      </div>
    </div>
    <ng-container *ngFor="let jobOrderModel of models; let i=index; let last = last">
      <div class="d-flex flex-row bg-gray-dark shadow-sm py-2 px-3 justify-content-start display-9 text-light" style="margin-left: -9px; margin-right: -9px; margin-top: 10px;" [ngStyle]="{'margin-bottom': last && (!openedIndex[i] || openedIndex[i] !== true) ? '10px' : '0px'}">
        <div class="mr-2 text-warning">
          <i *ngIf="!openedIndex[i] || openedIndex[i] !== true" (click)="openedIndex[i] = true" class="fa fa-angle-right" style="cursor: pointer;"></i>
          <i *ngIf="openedIndex[i] === true" (click)="openedIndex[i] = false" class="fa fa-angle-down" style="cursor: pointer;"></i>
        </div>
        <div class="mr-5">
          {{'job-order-operation-ID' | translate}} :
          <a href="javascript:;" style="color: white;" (click)="showJobOrderOperationDetail(jobOrderModel.jobOrderOperationId)">
            {{jobOrderModel.jobOrderOperationId}}</a>
          <!-- <span>{{jobOrderModel.jobOrderOperationId}}</span> -->
        </div>
        <div class="mr-5">
          {{'job-order-ID' | translate}} :
          <a href="javascript:;" style="color: white;" (click)="openJobORderDetails(jobOrderModel.jobOrderId)">{{jobOrderModel.jobOrderId}}</a>
          <!-- {{jobOrderModel.jobOrderId}}</span> -->
        </div>
        <div>
          <span>{{'reference-id' | translate}} : </span>
          <a href="javascript:;" style="color: white;"
                    (click)="showJobOrderOperationDetail(jobOrderModel.jobOrderOperationId)">
                    {{jobOrderModel.referenceId}}</a>
        </div>
      </div>
      <div *ngIf="openedIndex[i] === true" class="d-flex flex-row bg-gray-dark shadow-sm py-2 px-1 justify-content-center display-9 text-light" style="margin-left: -9px; margin-right: -9px; margin-top: 3px;">
        <div class="col-md-5 bg-gray-dark text-light pl-0 pr-0">

                   <table style="margin-bottom: 0.3rem;word-break: break-word;" class=" table table-borderless table-sm text-light">
                     <tr>
                       <td class="display-10">{{'component-name' | translate}}</td>
                       <td  class="display-10">{{'needed-quantity' | translate }}</td>
                       <td  class="display-10" width="11%">{{'unit' | translate}}</td>
                       <td  class="display-10">{{'used-quantity' | translate}}</td>
                       <td  class="display-10">{{'scrap-quantity' | translate}}</td>
                     </tr>
                     <tbody *ngIf="jobOrderModel && jobOrderModel.componentList">
                     <tr *ngFor="let compt of ((showFullComponents) ? jobOrderModel.componentList : jobOrderModel.componentList.slice(0,3))">
                         <!-- <td class="display-10" style="color: #ffba06;">{{compt.materialName}}</td> -->
                         <td class="display-10" style="color: #ffba06;">
                          <a href="javascript:;"  style="color: #ffba06;" (click)="openmaterialDetails(compt.materialId)">{{compt.materialName}}
                            </a>
                          </td>
                         <td class="display-10" style="color: #ffba06;">{{compt.neededQuantity}}</td>
                         <td class="display-10" style="color: #ffba06;">{{compt.materialUnit}}</td>
                         <td class="display-10" style="color: #ffba06;">{{compt.producedQuantity}}</td>
                         <td class="display-10" style="color: #ffba06;">{{compt.scrapQuantity}}</td>
                     </tr>
                     </tbody>
                   </table>

        </div>
        <div class="col-md-7 bg-gray-dark text-light m-0 pl-0 pr-0">
                   <table style="margin-bottom: 0.3rem; word-break: break-word;"
                   class=" table table-borderless table-sm text-light">
                     <tr>
                       <td  class="display-10" width="13%">{{'material-no' | translate}}</td>
                       <td  class="display-10">{{'material-name' | translate}}</td>
                       <td  class="display-10">{{'planned-quantity' | translate}}</td>
                       <td  class="display-10" width="10%">{{'unit' | translate}}</td>
                       <td  class="display-10">{{'produced-quantity' | translate}}</td>
                       <td  class="display-10" width="14%">{{'scrap-quantity' | translate}}</td>
                       <td  class="display-10">{{'rework-quantity' | translate}}</td>
                     </tr>

                     <tbody *ngIf="jobOrderModel && jobOrderModel.materiaList">
                     <tr *ngFor="let mat of jobOrderModel.materiaList">
                      <td class="display-10" style="text-align: center;">
                        <a href="javascript:;" style="color: white;" (click)="openmaterialDetails(mat.materialId)">{{mat.materialNo}}
                        </a>
                      </td>
                      <td class="display-10" style="text-align: center;">
                        <a href="javascript:;" style="color: white;" (click)="openmaterialDetails(mat.materialId)">{{mat.materialName}}
                        </a></td>
                       <td class="display-10" style="color: #72b5fa;">{{mat.plannedQuantity}}</td>
                       <td class="display-10"  style="color: #72b5fa;">{{mat.materialUnit}}</td>
                       <td class="display-10 text-success text-bold">{{mat.producedQuantity}}</td>
                       <td class="display-10 text-danger text-bold">{{mat.scrapQuantity}}</td>
                       <td class="display-10 text-info text-bold">{{mat.reworkQuantity}}</td>

                     </tr>
                     </tbody>
                   </table>
             <button pButton *ngIf="jobOrderModel.componentList && jobOrderModel.componentList.length > 3"
             style="width: 98%; color: rgb(195,195,195); background-color: rgb(61,83,99);
             position: absolute; border: 1px solid rgb(153, 162, 169); bottom: 3%;"
              type="button" [icon]="showFullComponents === false? 'fa fa-caret-down' : 'fa fa-caret-up'" (click)="showFullComponents = !showFullComponents" iconPos="right" [label]="showFullComponents === false ? ('show-more'|translate) : ('show-less'|translate)"></button>
        </div>
     </div>

     <ng-template [ngIf]="openedIndex[i] === true">
      <ng-container  *ngFor="let employeeinfo of jobOrderModel.employeeDtoList; let empindex=index; last as last">
        <div class="d-flex flex-row bg-gray-dark shadow-sm py-2 px-5 justify-content-between display-9 text-light text-center" style="margin-left: -9px; margin-right: -9px; margin-top: 3px;">
          <div>
            <div class="display-10">{{'employee'| translate }} :</div>
            <div class="display-9 text-bold text-warning">
              <a href="javascript:;" style="color: #ffba06;"
                      (click)="showEmployeeDetail(employeeinfo.employeeId)">
                      {{employeeinfo.firstName}} {{employeeinfo.lastName}}
                </a>
              </div>
          </div>
          <div>
            <div class="display-10">{{'operation-name'| translate }} :</div>
            <div class="display-9 text-bold text-warning">{{jobOrderModel.operationName}}</div>
          </div>
          <div>
            <div class="display-10">{{'goods'| translate }} :</div>
            <div class="display-9 text-bold text-warning">{{employeeinfo.goodQuantity}} <small> pcs</small></div>
          </div>
          <div>
            <div class="display-10">{{'scrap'| translate }} :</div>
            <div class="display-9 text-bold text-danger">{{employeeinfo.scrapQuantity}} <small> pcs</small></div>
          </div>
          <div>
            <div class="display-10">{{'rework'| translate }} :</div>
            <div class="display-9 text-bold text-danger">{{employeeinfo.reworkQuantity}} <small> pcs</small></div>
          </div>
          <div>
            <div class="display-10">{{'on-schedule'| translate }} :</div>
            <div class="display-9 text-bold text-danger">{{(employeeinfo.onSchedule ? ((employeeinfo.onSchedule * 100) |number:'1.2-2'): '')}}<small> %</small></div>
          </div>
          <div>
            <div class="display-10">{{'planned-duration'| translate }} :</div>
            <div class="display-9 text-bold text-success">{{employeeinfo.plannedDurationAsString}}</div>
          </div>
          <div>
            <div class="display-10">{{'working-duration'| translate }} :</div>
            <div class="display-9 text-bold text-success">{{employeeinfo.workDurationAsString}}</div>
          </div>
          <div>
            <div class="display-10">{{'remaining-duration'| translate }} :</div>
            <div class="display-9 text-bold text-danger">{{employeeinfo.remainingDurationAsString}}</div>
          </div>
          <div>
            <div class="display-10">{{'remaining-cycle-duration'| translate }} :</div>
            <div class="display-9 text-bold text-danger">{{employeeinfo.remainingCycleDurationAsString}}</div>
          </div>
          <div>
            <div class="display-10">{{'stop-duration'| translate }} :</div>
            <div class="display-9 text-bold text-danger">{{employeeinfo.stopDurationAsString}}</div>
          </div>
          <div>
            <div class="display-10">{{'employee-state'| translate }} :</div>
            <div class="display-9 text-bold text-danger" *ngIf="employeeinfo.stopReason">{{employeeinfo.stopReason}}</div>
            <div class="display-9 text-bold text-success" *ngIf="!employeeinfo.stopReason" >{{'PRODUCTION'}}</div>
          </div>
        </div>
        <div class="bg-gray-dark shadow-sm d-flex pb-2 px-5 display-9 text-light text-center" style="margin-left: -9px; margin-right: -9px;" [ngStyle]="{'margin-bottom':last ? '10px' : '3px'}">
          <div class="col-md-10 progress p-0">
            <div class="progress-bar  bg-success " role="progressbar"
                 attr.aria-valuenow="{{(employeeinfo.position ? (employeeinfo.position *100) : 0)|number:'1.2-2'}}" aria-valuemin="0" aria-valuemax="100"
                 [ngStyle]="{'width': ((employeeinfo.position ? (employeeinfo.position *100) : 0)|number:'1.2-2')+'%'}"> {{((employeeinfo.position ? (employeeinfo.position *100) : 0)|number:'1.1-1') +'%'}}</div>
          </div>
        </div>
       </ng-container>
     </ng-template>



    </ng-container>

</div>
