<div class="animated fadeIn">
  <!--<div class="badge-info header-dass" ><h3 class="text-white " >{{'job-order-management'|translate}}</h3></div>-->
  <!--------- UST TABLOLAR -------------->
  <!-- <div class="card" id="daily-jb">
    <div class="col-lg-12">
      <div class="row ui-fluid  badge-light border p-2 m-minus-10">
        <div class="col-md-3">
          <plant-auto-complete (selectedPlantEvent)="filterByPlant($event)"></plant-auto-complete>
        </div>

      </div>
    </div>
  </div> -->
  <!--UST Tool-->
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> {{'create-job-order-product-tree' | translate}}
            </div>
            <div class="card-body">


              <p-table #dr [value]="productTrees" scrollable="true" scrollHeight="40vh" [columns]="cols" [rows]="pagination.rows"
                [totalRecords]="pagination.totalElements" selectionMode="single" (onRowSelect)="assignOrder($event)">

                <ng-template pTemplate="header" let-columns>
                  <tr class="text-center">
                    <th *ngFor="let col of columns; let i=index;" style="cursor: pointer"
                      [ngClass]="{'bg-selected-order':pageFilter.orderByProperty ==col.field}"
                      (click)="reOrderData(i,col.field)"><i [ngClass]="'fa  fa-sort-alpha-' + classReOrder[i]"></i>
                      {{col.header|translate}}
                    </th>
                  </tr>

                  <tr>
                    <th *ngFor="let col of columns" class="ui-fluid" [ngSwitch]="col.field">

                      <input *ngSwitchCase="'productTreeId'" style="width: 100%" pInputText type="text"
                        [(ngModel)]="pageFilter[col.field]" (input)="filterByColumn($event.target.value, col.field)">

                      <input *ngSwitchCase="'materialNo'" style="width: 100%" pInputText type="text"
                        [(ngModel)]="pageFilter[col.field]" (input)="filterByColumn($event.target.value, col.field)">

                      <input *ngSwitchCase="'material'" style="width: 100%" pInputText type="text"
                        [(ngModel)]="pageFilter['materialName']"
                        (input)="filterByColumn($event.target.value, 'materialName')">

                      <!-- <input *ngSwitchCase="'revisionNo'" style="width: 100%"  pInputText type="text" [(ngModel)]="pageFilter[col.field]"
                        (input)="filterByColumn($event.target.value, col.field)"> -->
                      <span *ngSwitchDefault></span>

                    </th>

                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" style="cursor: pointer" [ngSwitch]="col.field">

                      <span *ngSwitchCase="'startDate'"> {{rowData[col.field]|date:'dd/MM/yyyy'}}</span>
                      <span *ngSwitchCase="'expiryDate'"> {{rowData[col.field]|date:'dd/MM/yyyy'}}</span>
                      <!-- <span  *ngSwitchCase="'lastModeDate'"> {{rowData[col.field]|date:'dd/MM/yyyy'}}</span> -->

                      <a href="javascript:;" *ngSwitchCase="'productTreeId'"
                        (click)="showProductTreeDetail(rowData.productTreeId)"> {{rowData[col.field]}}</a>

                      <a href="javascript:;" *ngSwitchCase="'material'"
                        (click)="showMaterialDetailDialog(rowData.material?.stockId)">
                        {{rowData[col.field]?.stockName}}</a>

                      <a href="javascript:;" *ngSwitchCase="'materialNo'"
                        (click)="showMaterialDetailDialog(rowData.material?.stockId)"> {{rowData.material?.stockNo}}</a>

                      <a href="javascript:;" *ngSwitchCase="'plant'"
                        (click)="showPlantDetailDialog(rowData[col.field]?.plantId)">
                        {{rowData[col.field]?.plantName}}</a>

                      <a href="javascript:;" *ngSwitchCase="'workstation'"
                        (click)="showWorkstationDetail(rowData.workstation?.workStationId)">
                        {{rowData[col.field]?.workStationName}}</a>

                      <span *ngSwitchCase="'workstation'"> {{rowData[col.field]?.workstationName}}</span>
                      <!-- <span  *ngSwitchCase="'plant'"> {{rowData[col.field]?.plantName}}</span> -->
                      <span *ngSwitchDefault> {{rowData[col.field]}}</span>

                    </td>

                  </tr>
                </ng-template>
              </p-table>

              <div class="row">
                <app-paging [TotalElements]="pagination.totalElements" [showSearch]="false"
                  [CurrentPage]="pagination.currentPage" [PageSize]="pagination.pageSize" [rows]="pagination.rows"
                  [TotalPageLinkButtons]="pagination.TotalPageLinkButtons"
                  [RowsPerPageOptions]="pagination.RowsPerPageOptions" (onPageChange)="myChanges($event)">
                </app-paging>
                <span style="margin-left:2px; padding-top: 2px " class="text-muted">{{'total-records'|translate}}:
                  {{pagination?.totalElements}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---<div class="row">
       </div>!-->
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i> {{'order-info' | translate}}</div>
            <div class="card-body">

              <div class="row">
                <div class="col-sm-12">
                  <label for="jobOrderType">Job Order Type *</label>
                  <select id="jobOrderType" name="jobOrderType" class="form-control" required
                    [(ngModel)]="newJobOrderFromExisting.jobOrderType" placeholder="Select Job Order Type">
                    <option [ngValue]="null"> Select Job Order Type</option>
                    <option *ngFor="let item of jobOrderTypes" value="{{item}}">{{item}}</option>
                  </select>
                </div>
              </div>

              <div class="row mb-2 mt-2">
                <div class="col-sm-12">
                  <div>
                    <label for="existingInStock">{{'need-quantity' | translate}}</label>
                    <input type="number" min="0" class="form-control" id="existingInStock" placeholder=""
                      [(ngModel)]="newJobOrderFromExisting.neededQuantity">
                  </div>
                </div>
              </div>
              <!--/.row-->

              <div class="row mb-2 mt-2">
                <div class="col-sm-12">
                  <div>
                    <label for="existingInStock">{{'extra-produced-quantity-percentage' | translate}}</label>
                    <input type="number" id="extraProducedQuantityPercentage" min="0" max="100"
                      name="extraProducedQuantityPercentage"
                      [(ngModel)]="newJobOrderFromExisting.extraProducedQuantityPercentage"
                      pattern="^$|^([0-9]|[1-9][0-9]|[1][0][0])?" class="form-control" placeholder="">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div>
                    <button type="button" class="btn btn-primary btn-block active" (click)="getCreateJobs();"
                      [disabled]="newJobOrderFromExisting.extraProducedQuantityPercentage > 100
                            || !newJobOrderFromExisting.jobOrderType || !selectedProductTreeItem">{{'add-job-order' | translate}}
                    </button>
                  </div>
                </div>
              </div>
              <!--/.row-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---------- ALT TABLO  ------------------>
</div>
<!------------------------- Modals ---------------------------------------->
<div bsModal [config]="{backdrop: 'static', keyboard: false}" #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success modal-md" role="document" style="max-width: 80%;">
    <div class="modal-content ">
      <div class="modal-header">
        <h4 class="modal-title">
          {{'product-tree-production-order' |translate}}
        </h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!---------- MODEL #Stocks ------------->
      <!--production order detail modal-->
      <div class="modal-body">
        <!---------- MODEL #1 ------------->
        <div class=" row">
          <div class="col-md-12">
            <p-tabView>
              <p-tabPanel header="{{'production-order-details' | translate}}">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <i class="fa fa-align-justify"></i> {{'production-order-details' | translate}}
                    </div>
                    <div class="card-body">
                    <form #saleForm="ngForm" class="form-horizontal ui-fluid">


                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'material' | translate}}</label>
                            <div class="col-md-9 ui-fluid">
                              <!-- <stock-auto-complete [dropdown]="true" [required]="true"
                                                    [selectedStockId]="newProductionOrder.materialId"
                                                      ></stock-auto-complete> -->
                              <span class="bg-readonly form-control"
                                *ngIf="!newProductionOrder.materialId">{{'select-product-tree-item' | translate}}</span>
                              <span class="bg-readonly form-control"
                                *ngIf="newProductionOrder.materialId">{{ newProductionOrder.material.stockName | translate}}</span>
                            </div>
                          </div>
                          <!-- <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'plant' | translate}}</label>
                            <div class="col-md-9">
                              <span class="bg-readonly form-control"
                                *ngIf="!newProductionOrder.plantId">{{'select-product-tree-item' | translate}}</span>
                              <span class="bg-readonly form-control"
                                *ngIf="newProductionOrder.plantId">{{ newProductionOrder.plant.plantName | translate}}</span>
                            </div>
                          </div> -->

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'warehouse' | translate}}</label>
                            <div class="col-md-9">

                              <warehouse-auto-complete [disabled]="!newProductionOrder.plantId" [required]="true"
                                [selectedWareHouse]="newProductionOrder.wareHouse" [plantId]="newProductionOrder.plantId"
                                (selectedWareHouseEvent)="setSelectedWarehouse($event)" [type]="'GOODS'" setDefaultSelected="true"></warehouse-auto-complete>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'location' | translate}}</label>
                            <div class="col-md-9">
                              <span class="bg-readonly form-control"
                              *ngIf="!newProductionOrder.locationNo" (click)="warehouseLocationModal.active=true;">{{'select-location' | translate}}</span>
                            <span class="bg-readonly form-control"
                              *ngIf="newProductionOrder.locationNo" (click)="warehouseLocationModal.active=true;">{{ newProductionOrder.locationNo | translate}}</span>
                              <!-- <location-auto-complete [selectedLocationNo]="newProductionOrder.locationNo" [addIfMissing]="true"
                              (selectedLocationEvent)="newProductionOrder.locationNo=$event?.locationNo" ></location-auto-complete> -->
                            </div>
                        </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="prodOrderTypeList">{{'production-order-type' |
                                translate}}</label>
                            <div class="col-md-9">
                              <div class="input-group">

                                <select id="prodOrderTypeList" name="prodOrderTypeList" class="form-control" required
                                  [(ngModel)]="newProductionOrder.prodOrderType">
                                  <option [ngValue]="null"> {{'please-select' | translate}}</option>
                                  <option *ngFor="let item of prodOrderTypeList" value="{{item}}">{{item}}</option>
                                </select>

                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'batch-code' | translate }}</label>
                            <div class="col-md-9">
                              <div class="ui-fluid">
                                <!-- here actId needs to be added  -->
                                <batch-auto-complete [PORData]="poData" [addIfMissing]="true"
                                  [plantId]="newProductionOrder.plantId" [stockId]="newProductionOrder.materialId"
                                  [batchLevel]="'PRODUCTION_ORDER'" [selectedBatchCode]="newProductionOrder.batch"
                                  (selectedBatchEvent)="setSelectedBatch($event)"></batch-auto-complete>

                              </div>
                              <!-- <input *ngIf="newProductionOrder.batchExist" type="text" id="batch" name="batch"
                                      [(ngModel)]="newProductionOrder.batch"
                                      class="form-control" placeholder="{{'batch' | translate}}"> -->
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'barcode' | translate }}</label>
                            <div class="col-md-9">
                              <input  type="text" id="barcode" name="barcode"
                                  [(ngModel)]="newProductionOrder.barcode" class="form-control"
                                  placeholder="{{'please-enter' | translate}}">
                            </div>
                        </div>


                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="prodOrderQuantity">{{'production-order-quantity' |
                                translate}}</label>
                            <div class="col-md-9">
                              <input type="text" (change)="newProductionOrder.quantity=$event.target.value" id="prodOrderQuantity" name="prodOrderQuantity" required
                                [(ngModel)]="newProductionOrder.plannedQuantity" [readonly]="!isManual" class="form-control"
                                placeholder="{{'please-enter' | translate}}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="extraProducedQuantityPercentage">{{'extra-produced-quantity-percentage' |
                                translate}}</label>
                            <div class="col-md-9">
                              <input type="number" id="extraProducedQuantityPercentage"
                                name="extraProducedQuantityPercentage" required
                                [(ngModel)]="newProductionOrder.extraProducedQuantityPercentage" [readonly]="!isManual"
                                min="0" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="prodOrderBaseUnit">{{'production-order-base-unit' |
                                translate}}</label>
                            <div class="col-md-9">
                              <input type="text" disabled id="prodOrderBaseUnit" name="prodOrderBaseUnit"
                                [(ngModel)]="newProductionOrder.baseUnit" class="form-control"
                                placeholder="{{'production-order-base-unit' | translate}}">
                            </div>
                          </div>
                        </div>
                        <div class=col-md-6>

                          <div class="form-group row ">
                            <label class="col-md-3 col-form-label"> {{'production-order-start-date' | translate}}</label>
                            <div class="col-md-9 ui-g-9 ui-md-9">
                              <p-calendar [(ngModel)]="newProductionOrder.startDate" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="2020:2100" [minDate]="minDateValue" name="startDate" showTime="true"
                                [showIcon]="true" dateFormat="dd/mm/yy" required></p-calendar>
                            </div>
                          </div>
                          <div class="form-group row ">
                            <label class="col-md-3 col-form-label"> {{'production-order-finish-date' | translate}}</label>
                            <div class="col-md-9 ui-g-9 ui-md-9">
                              <p-calendar [(ngModel)]="newProductionOrder.finishDate" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="2020:2100" [minDate]="minDateValue" name="finishDate" showTime="true"
                                [showIcon]="true" dateFormat="dd/mm/yy" required></p-calendar>
                            </div>
                          </div>
                          <div class="form-group row ">
                            <label class="col-md-3 col-form-label"> {{'minimum-delay-quantity' | translate}}</label>
                            <div class="col-md-9 ui-g-9 ui-md-9">
                                <input type="number" id="minimumDelayQuantityBetweenOperation" name="minimumDelayQuantityBetweenOperation"
                                 [(ngModel)]="newProductionOrder.minimumDelayQuantityBetweenOperation"  class="form-control" />
                            </div>
                          </div>


                          <div class="form-group row ">
                            <label class="col-md-3 col-form-label"> {{'priority' | translate}}</label>
                            <div class="col-md-9 ui-g-9 ui-md-9">
                              <select [(ngModel)]="newProductionOrder.priority" id="priorityId" name="priorityId"
                                class="form-control" (change)="prioritySelection($event)" required>
                                <option [ngValue]="null"> {{'please-select' | translate}}</option>
                                <option value="{{priority}}" *ngFor="let priority of commonPriorities">{{priority}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row ">
                            <label class="col-md-3 col-form-label"> {{'reference-id' | translate}}</label>
<!--                            <div class="col-md-9 ui-g-9 ui-md-9">-->
<!--                                <input type="text" id="referenceId" name="referenceId"-->
<!--                                 [(ngModel)]="newProductionOrder.referenceId"  class="form-control" />-->
<!--                            </div>-->
                            <div class="d-flex align-items-center col-md-9">
                              <div  style="width: 95%;"  >{{newProductionOrder.referenceId}}</div>
                              <!-- <input type="text" disabled style="width: 95%;" id="referenceId" name="referenceId"  [(ngModel)]="newRequestOrderDetailCreateDto.referenceId" -->
                              <!-- class="form-control" placeholder="{{'reference-id' | translate}}" /> -->
                              <!-- <button pButton (click)="clearReferenceId()">{{'clear'|translate}}</button> -->
                              <button pButton class="mr-1 col" label="{{'clear'|translate}}" (click)="clearReferenceId()"></button>
                              <button class="col-md-2" pButton icon="fa fa-plus-circle" (click)="addAndIncrementReferenceId()"></button>

                            </div>


                          </div>
                          <div class="form-group row ">
                            <label class="col-md-3 col-form-label"> {{'description' | translate}}</label>
                            <div class="col-md-9 ui-g-9 ui-md-9">
                              <textarea id="description" name="description"
                              [(ngModel)]="newProductionOrder.description"  class="form-control" ></textarea>
                            </div>
                          </div>
                          <div class="form-group row ">
                            <label class="col-md-3 col-form-label"> {{'project' | translate}}</label>
                            <div class="col-md-9 ui-g-9 ui-md-9">
                               <project-auto-complete [projectId]="newProductionOrder.projectId"
                               (selectedProjectEvent)="newProductionOrder.projectId=$event?.projectId"></project-auto-complete>
                            </div>
                          </div>
                          <div class="form-group row ">
                            <label class="col-md-3 col-form-label"> {{'milestone' | translate}}</label>
                            <div class="col-md-9 ui-g-9 ui-md-9">
                               <milestone-auto-complete [projectId]="newProductionOrder.projectId" [milestoneId]="newProductionOrder.milestoneId"
                               (selectedMilestoneEvent)="newProductionOrder.milestoneId=$event?.milestoneId"></milestone-auto-complete>
                            </div>
                          </div>

                        </div>
                      </div>

  <!--

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="prodOrderGrQuantity">{{'production-order-gr-quantity' |
                            translate}}</label>
                        <div class="col-md-9">
                          <input type="text" id="prodOrderGrQuantity" name="prodOrderGrQuantity"
                            [(ngModel)]="newProductionOrder.grQuantity" class="form-control"
                            placeholder="{{'production-order-gr-quantity' | translate}}">

                        </div>
                      </div> -->

                      <!-- <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="prodOrderUnitList">{{'production-order-unit' |
                            translate}}</label>
                        <div class="col-md-9">
                          <div class="input-group">

                            <select id="prodOrderUnitList" name="prodOrderUnitList"
                              [disabled]="!unitList|| unitList.length==0" class="form-control"
                              [(ngModel)]="newProductionOrder.orderUnit">
                              <option [ngValue]="null"> {{'please-select' | translate}}</option>
                              <option *ngFor="let item of unitList" value="{{item.alternativeUnit}}">
                                {{item.alternativeUnit}}
                              </option>
                            </select>

                          </div>
                        </div>
                      </div> -->
                      <!--Buraya bazı alanlar gelecek???-->

                    </form>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="{{'job-order-details' | translate}}">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i> {{'job-order-details' | translate}}
                  </div>
                  <div class="card-body">
                  <div class="col-md-12 p-table-sm" *ngIf="createdJobOrders.length > 0">

                    <p-table #dr [value]="createdJobOrders" scrollable="true" scrollHeight="65vh" [(selection)]="selectedCreateJobOrders"
                      [rows]="createdJobOrders.length" dataKey="jIndex">

                      <ng-template pTemplate="header">
                        <tr class="text-center">
                          <!-- <th style="width: 5em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th> -->
                          <th>{{'order-no' | translate}}</th>
                          <th>{{'job-order-quantity' | translate}}</th>
                          <th>{{'operation' | translate}}</th>
                          <th>{{'input' | translate}}</th>
                          <th>{{'output' | translate}}</th>
                          <th>{{'production-type' | translate}}</th>
                          <!-- <th colspan="2">{{'workstation' | translate}}</th> -->
                          <!-- <th>{{'batch' | translate}}</th> -->
                        </tr>

                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                        <tr [pSelectableRow]="rowData">
                          <!-- <td style="width: 5em">
                            <b>
                              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </b>
                            <a href="#" [pRowToggler]="rowData">
                              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a>
                          </td> -->
                          <td> {{rowData.orderFNo}}</td>
                          <td> {{rowData.expectedQuantity}}</td>
                          <td style="padding: 0px;">
                            <ng-container *ngFor="let operation of rowData?.jobOrderOperations; last as oLast">
                              <ul [style.borderBottom]="(oLast) ? 'none': '1px solid #c8c8c8'" class="jOrderParent"
                              [style.height]="getOperationDataHeight(operation).height + 'px'">
                                  <li>
                                    <a href="javascript:;" (click)="showOperationDetail(operation.operationId)"
                                    style="word-break: break-word;">{{operation.operationName}}</a>
                                    <!-- {{operation.jobOrderOperationId}} -->
                                  </li>
                              </ul>
                            </ng-container>
                          </td>
                          <td style="padding: 0px;">
                            <ng-container *ngFor="let operation of rowData?.jobOrderOperations; last as oLast">
                              <ul [style.borderBottom]="(oLast) ? 'none': '1px solid #c8c8c8'" class="jOrderParent"
                                [style.height]="getOperationDataHeight(operation).height + 'px'">
                                  <li *ngFor="let item of operation.jobOrderStockUseList"
                                  [style.height]="(getOperationDataHeight(operation).height/getOperationDataHeight(operation).totalHeight) + 'px'">
                                    <a style="overflow: hidden;text-overflow: ellipsis;" href="javascript:;"
                                    (click)="showMaterialDetail(item.stockId)">{{item.stockName}}</a>
                                  </li>
                              </ul>
                            </ng-container>
                          </td>
                          <td style="padding: 0px;">
                            <ng-container *ngFor="let operation of rowData?.jobOrderOperations; last as oLast">
                              <ul [style.borderBottom]="(oLast) ? 'none': '1px solid #c8c8c8'" class="jOrderParent"
                                [style.height]="getOperationDataHeight(operation).height + 'px'">
                                  <li *ngFor="let item of operation.jobOrderStockProduceList"
                                  [style.height]="(getOperationDataHeight(operation).height/getOperationDataHeight(operation).totalHeight) + 'px'">
                                    <a style="overflow: hidden;text-overflow: ellipsis;" href="javascript:;"
                                    (click)="showMaterialDetail(item.stockId)">{{item.stockName}}</a>
                                  </li>
                              </ul>
                            </ng-container>

                          </td>
                          <td>{{rowData?.productionType}}</td>
                          <!-- <td colspan="2">
                            <div *ngIf="rowData.workstationName" class="text-center">
                              {{rowData.workstationName}}
                            </div>
                          </td> -->

                        </tr>
                      </ng-template>
                      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                        <tr>
                          <td colspan="6">
                            <div class="ui-g bg-white pt-1" id="JobOrderComponent">

                              <job-order-row-detail [data]="rowData"></job-order-row-detail>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                      <!-- <ng-template pTemplate="footer">
                <div class="row" style="margin:4px;">
                  <div class="col-md-1 offset-md-11">
                    <button type="button" class="btn btn-sm btn-primary btn-block active"
                      [disabled]="!saleForm.form.valid || !newProductionOrder.startDate || !newProductionOrder.finishDate"
                      (click)="saveJobs()">{{'save' | translate}}
                    </button>
                  </div>
                </div>
              </ng-template> -->
                    </p-table>

                  </div>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="{{'production-order-material-list' | translate}}">
                <div class="card">
                  <div class="card-header">
                      {{'production-order-material-list' | translate}}
                      <div class="card-actions">
                          <button (click)="addProdOrderMaterialList()" class="btn btn-sm btn-success" style="color: green;background: green;color: white">{{'add' | translate}}</button>
                      </div>
                  </div>
                  <div class="card-body">
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <!-- <th>{{'combine-production-order-type' | translate}}</th> -->
                                  <th>{{'material-name' | translate}}</th>
                                  <th>{{'quantity' | translate}}</th>
                                  <th>{{'unit' | translate}}</th>
                                  <th>{{'job-order-id' | translate}}</th>
                                  <th>{{'output-ratio' | translate}}</th>
                                  <th>{{'action' | translate}}</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let materialItem of prodOrderMaterialList; let index=index">
                                  <!-- <td>
                                      <select class="form-control" [(ngModel)]="materialItem.combineProdOrderType" (change)="materialItem.combineProdOrderType= $event.target.value">
                                          <option value="{{cActivityType}}" *ngFor="let cActivityType of combineActivityTypes">{{cActivityType}}
                                          </option>
                                      </select>
                                  </td> -->
                                  <td class="ui-fluid">
                                     <ng-container *ngIf="!materialItem?.newlyAdded; else editableStock">
                                          {{materialItem.materialName}}
                                     </ng-container>
                                     <ng-template #editableStock>
                                      <select class="form-control" [(ngModel)]="materialItem.materialId" (ngModelChange)="setSelectedMaterial($event, index)">
                                          <option [value]="material.materialId" *ngFor="let material of materialList">{{material.materialId}} | {{material.materialName}}
                                          </option>
                                      </select>
                                  </ng-template>
                                  </td>
                                  <td><input  class="form-control" type="number" [(ngModel)]="materialItem.quantity" /></td>
                                  <td>{{materialItem.quantiyUnit}}</td>
                                  <td>{{materialItem.combinejobOrderId}}</td>
                                  <td><input  class="form-control" type="text" [(ngModel)]="materialItem.outputRate" /></td>
                                  <td>
                                    <!-- *ngIf="materialItem?.newlyAdded" -->
                                      <button class="btn btn-sm btn-outline-danger" type="button" (click)="onDeleteProdOrderMaterialList(materialItem, index)" ><i class="fa fa-window-close"></i></button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              </p-tabPanel>
              <p-tabPanel header="{{'costing' | translate}}">
                <div class="row">
                  <div class="col-lg-12">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td width="30%">{{'estimated-cost' | translate}}</td>
                          <td>
                            <input class="form-control" type="number" min="1" name="estimatedCost" [(ngModel)]="newProductionOrder.estimatedCost" />
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">{{'actual-cost' | translate}}</td>
                          <td>
                            <input class="form-control" type="number" min="1" name="actualCost" [(ngModel)]="newProductionOrder.actualCost" />
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">{{'final-cost' | translate}}</td>
                          <td>
                            <input class="form-control" type="number" min="1" name="finalCost" readonly [(ngModel)]="newProductionOrder.finalCost" />
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">{{'currency' | translate}}</td>
                          <td>
                            <currency-auto-complete [disabled]="true" [selectedCurrency]="newProductionOrder.currency" (selectedCurrencyEvent)="newProductionOrder.currency=$event?.currencyCode"></currency-auto-complete>
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">{{'cost-center' | translate}}</td>
                          <td>
                            <cost-center-auto-complete [costCenterId]="newProductionOrder.costCenterId" (selectedCostCenterEvent)="onChangeCostCenter($event)">
                            </cost-center-auto-complete>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="{{'document'| translate }}">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i>{{ "documentation" | translate }}
                  </div>
                  <div class="card-body">
                    <table class="table table-bordered">
                      <tbody>
                        <tr align="center">
                          <td class="text-center" colspan="2">
                            <image-adder [isFile]="true"></image-adder>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </p-tabPanel>
          </p-tabView>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="myModal.hide()">{{'close' | translate}}</button>
        <button type="button" class="btn btn-primary"
          [disabled]="!saleForm.form.valid || !newProductionOrder.startDate || !newProductionOrder.finishDate"
          (click)="saveJobs()">{{'save' | translate}}
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<ng-template [ngIf]="myWsModal_prop">
  <div bsModal [config]="{backdrop: 'static', keyboard: false}" #myWsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" (onHidden)="myWsModal_prop=false;">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h4 class="modal-title">
            {{wsModalParams.title |translate}}
          </h4>
          <button type="button" class="close" (click)="myWsModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class=" row">
            <div class="col-md-12" *ngIf="wsModalParams.title=='workstations'">
              <choose-ws-pane [operationId]="operationId" [plantId]="pageFilter.plantId"
                (selectedEvent)="closeWsPanel($event);myWsModal.hide();"></choose-ws-pane>
            </div>
            <div class="col-md-12 ui-fluid" *ngIf=" wsModalParams.title=='batch-code'">
              <batch-auto-complete [batchLevel]="'PRODUCTION_ORDER'" [addIfMissing]="true" (selectedBatchEvent)="closeBatchanel($event);myWsModal.hide()">
              </batch-auto-complete>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="myWsModal.hide()">{{'close' | translate}}</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ng-template>


<ng-template [ngIf]="warehouseLocationModal.active">
  <div bsModal [config]="{backdrop: 'static', keyboard: false, show: true}" #myModal="bs-modal"
  (onHidden)="warehouseLocationModal.active=false"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title"> {{'warehouse-locations' | translate}}</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <choose-warehouse-location-pane  [fromChoosePane]="true"
          [wareHouseNo]="newProductionOrder['wareHouseNo']"
            (selectedStockEvent)="newProductionOrder.locationNo= $event?.warehouseLocationNo; warehouseLocationModal.active=false;">
          </choose-warehouse-location-pane>
        </div>

        <div class="modal-footer">
          <button type="button" style="background:lightslategray;"  class="btn rounded btn-outline-secondary"
              (click)="myModal.hide()">{{'close' | translate}}
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ng-template>
