.mymodal-content{
   min-width:900px;
   min-height: 400px;
 }

//#chPwd-content{
//  min-width:300px !important;
//  min-height: 200px !important;
//}

.mymodal-dialog {
  max-width: 1100px;
  margin: 10px auto;
  height: auto;
}

body #pass .pi{
  font-size: 25px !important;
}