.reset{
    width: 100px;
    margin-right: 10px;
    background-color: #008CBA;
    height: 38px;
}
.save{
    width: 100px;
    margin-right: 10px;
    background-color: #008CBA;
    height: 38px;
}

.ui-autocomplete .ui-autocomplete-input {
width: 390px;
}
