.display-flex {
    display: flex;
}

::ng-deep  .valid-from {
    width: 100%;
    display: block;
    span {
        width: 100%;
        display: block;
        input {
            width: calc(100% - 33px);
        }
    }
}